[2018-11-01 22:50] anchev commented on #578
Disclaimer: I have written JS (not a developer per se), some Assembly and C (many many years ago) but I know nothing about WASM and JIT. So what I say is based on that limited experience + general security considerations. As I mentioned in another issue: Personally I browse the web with JS completely disabled and enable it only selectively and temporarily where it is inevitable and really importan

[2018-11-02 00:50] intika commented on #578
Am not really convinced because JS itself have the same issues... why would a hacker exploit that if he could just exploit js without going as deep... but i could understand that we **may** have exploits available on webassembly but not on classic js... in short its a good prevention action :+1: ... the current web without js is not really usable.

[2018-11-02 00:51] Eloston commented on #578
His example is regarding sandboxing concerns at a higher level, e.g. security vulnerabilities with Adobe Flash. IMO, a better comparison would be to compare WASM and JavaScript.

But, I fail to see how the execution environment for WASM and JavaScript are different enough to open up a new class of vulnerabilities. Perhaps it is easier to exploit certain vulnerabilities in Blink/V8's existing sandb

[2018-11-02 02:18] FriendlyAI commented on #576
Previews work in both regular Chrome and in Vivaldi. Tried v70, but the issue persists. Previews for other file types work, however, including mp4's.

[2018-11-02 04:13] intika commented on #577
Okay, the site just don't work when blocking ciphers giving back this error (tested with uc v70)

[code]
You can reproduce the test with `--cipher-suite-blacklist=0xC02F,0xC030,0xC013,0xC014,0x009C,0x009D,0x002F,0x003C,0x0035,0x003D`
and navigating to `https://intika.be`

You have a nice setup but i personally don't like "HTTPS Everywhere" at all because of :
- The code quality is very poor (make

[2018-11-02 13:44] anchev commented on #578
Some more info about WASM in relation to CPU vulnerabilities:

https://it.slashdot.org/story/18/06/24/1657223/changes-in-webassembly-could-render-meltdown-and-spectre-browser-patches-useless

https://github.com/WebAssembly/meetings/blob/master/2018/CG-01-09.md#update-on-webassembly-atomics

[2018-11-02 14:18] anchev commented on #577
Thanks for confirming that the setting doesn't result in switching to plain HTTP.

Thanks also for the info about HTTPS Everywhere. I have emailed you as I have some off-topic questions about all this.

[2018-11-02 14:35] anchev commented on #577
Unfortunately your server returned:

`<postmaster@ [...] 550 sorry, user over quota [mail153] (#5.1.1) (in reply to RCPT TO command)`

[2018-11-02 16:06] intika commented on #577
my site is not maintained any more and the mail there is not used any more... you can contact me at intikadev at gmail

[2018-11-02 16:52] intika commented on #577
My site is no longer maintained... you can contact me at intikadev at gmail; but its better to just post here https://github.com/ungoogled-software/ungoogled-chromium-wiki/issues/2 to make the information available to anyone

[2018-11-02 17:02] intika commented on #577
My site is no longer maintained... my mail is intikadev at gmail; but its better to just post here https://github.com/ungoogled-software/ungoogled-chromium-wiki/issues/2 to make the information available to anyone

[2018-11-02 17:05] intika commented on #577
My site is no longer maintained... my mail is intikadev at gmail

[2018-11-02 17:31] anchev commented on #577
Sent. Thanks!

[2018-11-03 10:38] yl3dy opened #579 "Build fails on Ubuntu 18.04"
### Description

The current version from master fails to build on Ubuntu GNU/Linux 18.04 amd64, probably because of command line argument incompatibility.

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 94b7493c72a3a
* Configuration bundle: `ubuntu_bionic`
* Packaging type (if applicable): [e.g. `linux_simple`, `debian_stretch`, `macos`]
* OS and versi

[2018-11-03 10:38] csagan5 opened #580 "Question about how flags/features work (or not)"
I have seen many times cases where upon my investigation on some flag, I conclude they are disabled by default, but then always have to disable them manually in `chrome://flags` to have them really disabled.

Two simple examples:

* `#passwords-keyboard-accessory`: https://cs.chromium.org/chromium/src/components/password_manager/core/common/password_manager_features.cc?type=cs&q=kPasswordsKeyboard

[2018-11-03 14:49] xsmile commented on #579
#569 is likely related. In any case, both the error and the warning should not appear with LLVM 7.

[2018-11-03 15:24] tvd9 opened #581 "Add flag to re-enable GCM (removed in https://github.com/Eloston/ungoogled-chromium/issues/7)"
**Is your feature request related to a problem? Please describe.**

I'm using an extension called Join (https://chrome.google.com/webstore/detail/join/flejfacjooompmliegamfbpjjdlhokhj) to sync stuff between my phone and my computer. Join depends on some Google APIs/Services, such as Google Cloud Messaging, to function properly.

**Describe the solution you'd like**

I don't know if this is possibl

[2018-11-03 16:35] pellaeon commented on #538
Hi @mehrdadn , I'm trying to get this working, have you figured out a way to get this working? [My patch](https://gist.github.com/pellaeon/3ce99374507c6495dad5fd94da2bf624) according to your hints doesn't work. (I copied the entire content of profile folder from Chrome and the patched chromium deleted the copied extensions upon startup)

[2018-11-03 19:13] mehrdadn commented on #538
Hi @pellaeon, yup I got it working. I just changed the last line of `PrefHashCalculator::Validate()` (in `services/preferences/tracked/pref_hash_calculator.cc`) from `return INVALID` to `return /*IN*/VALID`.

BTW, another helpful thing I did (completely unrelated to this issue, but maybe something else you'd also like to consider) is to avoid blocking extensions that aren't on the web store. You c

[2018-11-04 00:05] binaryh opened #582 "Build fails on Windows 10"
**Description**
Cant make the build process work under Windows 10.

**Console output and logs**

[code]

**Environment details**

ungoogled-chromium version: 70.0.3538.77-1
Configuration bundle: windows
Packaging type (if applicable): windows
OS and version for building: Windows 10 64 bit
Compiler toolchain: ??

**Building and packaging steps**
- I followed the instructions from [building.md](http

[2018-11-04 07:52] pellaeon commented on #538
Cool! Just built it and it works! Thanks!

[2018-11-04 07:53] mehrdadn commented on #538
Yup!

[2018-11-04 21:48] anchev commented on #578
Fresh news (and one more reason to have external scripts of whatever language disabled by default):

https://it.slashdot.org/story/18/11/04/0426252/old-school-sniffing-attacks-can-still-reveal-your-browsing-history

[2018-11-05 08:58] saltama commented on #581
Instead of adding this back for everyone, adding an entry in the wiki on how to enable it back before compilation would be a better idea (albeit requiring some maintenance in future releases), in my opinion.
Was this working before #7? It was committed 2 years ago, hard to tell.

[2018-11-05 15:41] tvd9 commented on #581
All I know is that it was working with "stock" chromium. Also, I agree,  that this shouldn't be added for everyone.

[2018-11-05 17:44] Eloston commented on #581
Adding this feature would go against the primary objective of this project. In addition, removing the patch for GCM isn't enough; we would need to modify domain substitution (which is risky, since other components may share some code).

If there exists an alternative implementation of GCM servers, then I'd allow an option to set the server to use for GCM.

[2018-11-05 17:44] #581 closed

[2018-11-05 18:03] Eloston commented on #576
We need more details to determine what is going on. Are there any errors in the DevTools console?

[2018-11-05 18:05] Eloston commented on #582
See #475

[2018-11-05 18:05] #582 closed

[2018-11-05 18:08] #579 closed

[2018-11-05 19:02] #577 closed

[2018-11-05 19:02] #578 closed

[2018-11-05 22:04] anchev commented on #577
Thanks. Just a note you may want to add: the IDs of the cypher suites must be in the exact format 0x0000. My tests show that any other (e.g. 0x00 or 0x000000) has no effect.

[2018-11-05 22:13] anchev commented on #431
I use ungoogled-chromium with TOR socks proxy. However I find a difference comparing it to Tor browser bundle (TBB). I don't know why but some websites which use Cloudflare show captcha challenge test while the same sites work on TBB without showing that. Testing in command line with the exact same headers which TBB sends also results in recaptcha page:
[code]
So it seems to me TOR socks may not b

[2018-11-05 22:35] anchev commented on #431
And one more thing: the feature to request a "new identity" in TBB is essential for avoiding the possibility of fingerprinting based on site visits associated with UA string + IP address. TBB can request at least a change in the IP address. However in UGC all we can do is wait for (~10 minutes) until the tor service connects another socket. So ideally a function which can spoof UA an IP (periodica

[2018-11-05 22:39] FriendlyAI commented on #576
With some more testing, it looks like the previews are only broken when you are signed into an account and works when not signed in.

Comparing the DevTools log from Chromium and a working Chrome, there is a failed media download from `https://doc-0k-2k-docs.googleusercontent.com/docs/securesc/...` initiated by `nonceSigner` with error `(failed) net::ERR_TOO_MANY_REDIRECTS` in Chromium but not in

[2018-11-06 07:55] intika commented on #431
Tor have nothing to do with the scope of this project

[2018-11-06 11:43] intika commented on #431
@anchev i know that you are on topic here regarding this issue, i down-voted the comments about integrating tor as a feature because this is out of the scope of uc which is more or less cleaning chromium not bundling other security related application/extensions/protocols... thus said nothing prevent anyone from integrating this to the browser in a fork, and or PR a light acceptable modification l

[2018-11-06 12:38] anchev commented on #431
I didn't suggest integration or any particular development strategy. I just read what @Eloston said:

and shared some observations and general privacy considerations along these lines (as Tor is about privacy).

[2018-11-07 12:10] nadavhury opened #583 "args.gn doesnt contain default parameters."
Platform Win 10 x64 - I7 32gb SSD drive - no indexing.
Version  : ungoogled-chromium-69.0.3497.100-2

After running ungoogled_packaging\build.py, I get this error
K:\chrome69\build\src>"out\Default\gn.exe" "gen" "out\Default" "--fail-on-unused-args"
ERROR at build arg file (use "gn args <out_dir>" to edit):2:1: Expecting assignment or function call.
clang_use_chrome_plugins
^----------------------

[2018-11-08 13:36] MrOCR opened #584 "70.0.3538.77-1 fails building at Ubuntu 18.04 [recipe for target 'out/Default/gn' failed]"
[code]

[2018-11-08 13:39] MrOCR opened #585 "69.0.3497.100-2 fails building at Ubuntu 18.04 [recipe for target 'out/Default/gn' failed]"
[code]

[2018-11-08 14:01] MrOCR commented on #584
@Eloston

[2018-11-08 15:57] intika commented on #585
duplicate of https://github.com/Eloston/ungoogled-chromium/issues/584#issuecomment-437003240 please close the issue

[2018-11-08 16:02] intika commented on #584
it seems that you are using python3 as default python instead of python2 same as https://github.com/Eloston/ungoogled-chromium/issues/555 please search a little bit before posting.

[2018-11-08 17:00] #583 closed

[2018-11-08 17:00] Eloston commented on #583
The args.gn file is broken because I made a silly mistake.

However, Windows support is broken in other ways right now; see #475.

[2018-11-08 17:16] Eloston commented on #431
@anchev I didn't know about the identity rotation feature of TBB. Is it not possible to do this in an extension?

@intika I believe Tor integration should be fine if it's an optional feature. However, like I said earlier, I will need more information about the implementation for me to decide. Namely, what kinds of features beyond the capabilities of extensions would be included? How will these fea

[2018-11-08 17:18] #585 closed

[2018-11-08 17:18] Eloston commented on #584
Is Python 3 the default in Ubuntu 18.04?

[2018-11-08 18:41] anchev commented on #431
I am not aware what extensions can and cannot do, so I cannot answer. But you can take a look at [Tor Browser's User Manual which explains about managing identities](https://tb-manual.torproject.org/en-US/managing-identities.html).

My thoughts exactly. It should be up to the user.

AFAIK TBB runs its own tor service. It also includes that [security slider](https://tb-manual.torproject.org/en-US/s

[2018-11-08 23:01] MrOCR commented on #86
@Eloston But what about CryptoTokenExtension? How to delete/ remove it?

[2018-11-09 13:35] antonin-lebrard commented on #86
@MrOCR
There is an issue about the CryptoTokenExtension on the inox patchet repository that have some useful informations: https://github.com/gcarq/inox-patchset/issues/25

It seems to be related only to the U2F keys like Yubikeys. So it seems to be an important extension to keep, but maybe having the options to disable it could be cool. But I suspect it is more coupled with the chromium code base

[2018-11-10 15:24] ghost opened #586 "Cannot start the program after a successful build."
### Description

Cannot start chrome after a successful build. Trying from console gives:
[code]

Even deleting ~/.config/chromium` doesn't help.

### Environment details

* ungoogled-chromium version: 70.0.3538.77
* Configuration bundle: `linux_portable`
* OS and version for building: openSUSE Leap 15.0
* Compiler toolchain:

[code]

### Building and packaging steps

The same described in #447 wh

[2018-11-10 16:03] anchev commented on #586
Fortunately I found an older build (version `ungoogled-chromium_70.0.3538.67-1_linux.tar.xz` from 2018-10-25) which works. I tried running that one from console too and it also gives the `InitializeSandbox` error line but without the `Illegal instruction (core dumped)`.

[2018-11-11 00:54] intika commented on #586
should we call the police because of the `Illegal instruction` ? hahahaha just kidding

[2018-11-11 10:54] anchev commented on #586
It seems the culprit may be the LLVM version (which I also build from source code as usual). I found an older build on my machine:
[code]
and using it I rebuilt ungoogled-chromium and I ran `diff` to compare the `bad` build and the working one:
[code]
Now I still get:
[code]
but UC works fine and there is no `Illegal instruction` message.

Unfortunately I have no idea how to report this to LLVM at

[2018-11-13 16:55] anchev commented on #431
Something got messed up with my previous account, so I had to create a new one.

During registration at GitHub I noticed another issue: a cookie (tz) which in which I saw the local timezone (with city). TBB doesn't leak this info, UC obviously does (even through Tor).

[2018-11-13 16:56] anchev commented on #586
*re-subscribing with new account

[2018-11-14 04:49] pcraciunoiu commented on #37
Subscribed, and

:+1: for anyone who can figure this out or provide instructions for figuring it quickly / others to help unblock

[2018-11-14 06:18] intika opened #588 "[User discussion] What's Your Best Chrome Extensions"
In the purpose of sharing extensions, what's your best extensions ?
For me :

- Vanilla (Cookies blocker)
- Browser Plugs (Anonymise & secure chrome)
- Session Buddy (Save session)
- uBlock (Of course lol)

[2018-11-14 06:53] intika commented on #174
**Update checker for UC :**
Here are some extensions solution that can be used to check for update for UC other than a distro repo

- Rss-Feed Reader like [feedbro](https://chrome.google.com/webstore/detail/feedbro/mefgmmbdailogpfhfblcnnjfmnpnmdfa?hl=en)

- Website Monitoring For Change Extensions : [visualping](https://chrome.google.com/webstore/detail/visualping/pemhgklkefakciniebenbfclihhmmfcd?

[2018-11-14 12:58] antonin-lebrard commented on #588
@intika You may want to check the Session Buddy extensions, it does have a Google Analytics tracker inside it. I removed it because of that

For me:
- [Ublock origin](https://github.com/gorhill/uBlock) and its sibling extension [Ublock origin extra](https://github.com/gorhill/uBO-Extra)
- [Umatrix](https://github.com/gorhill/uMatrix) (to control near everything a webpage loads, from web requests a

[2018-11-14 13:13] xsmile commented on #588
Some additions which might be interesting:
* Nano Defender - Unbreaks sites which lock out users of ad-blockers
* Skip Redirect - Skips requests to intermediary pages
* Neat URL - Removes common unwanted parameters from URLs

[2018-11-14 13:47] intika commented on #588
Thanks for the info i did reviewed-and-edited all my firefox extensions but did not have the time to do it for chrome yet...

I'll patch that extension to remove privacy related stuff (i dont know any other session extension as good as this one) i'll upload patched version here when i do ;) as you may be interested ;)

That's a cool topic, to report what extensions is not clean... i'll do that whe

[2018-11-14 14:03] aryanrajseo opened #589 "Facebook Push notification not working"
I am not able to turn On facebook Push Notification. The button is not working.

I am using Version 70.0.3538.77 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/34836534/48487336-ece9d380-e843-11e8-82e1-4ef206ffad12.png)

[2018-11-14 14:31] antonin-lebrard commented on #588
@xsmile Didn't know about these ones, and I always thought about doing one myself, so thank you for these additions !

@intika This is something I would gladly re-download if it were cleaned :) But I don't know if it would be possible as it seems to not be open source, and copyrighted without any trace of legal agreements or privacy policy :/

[2018-11-14 14:47] aryanrajseo commented on #589
Hi,

I have already tried with Guest and new people profile in ungoogled chromium. I got the notification pop-up but it not activate from the facebook settings.

[2018-11-14 14:58] intika commented on #588
Can extension be closed source ? i saw some that used some js masking but i am not aware that we could use binary on extensions... now when it come to copyright, they did not ask to **copy** my private information lool

[2018-11-14 17:36] Eloston commented on #576
Does the behavior change if you change your user agent to a non-Chrome/Chromium one? e.g. Firefox

[2018-11-14 17:37] Eloston commented on #589
I believe Push Notifications in Chrome/Chromium uses GCM (just like on Android), so it may be requiring code that has been disabled. Can anyone confirm?

[2018-11-14 17:39] Eloston commented on #588
FYI, the User Resources page on the Wiki has a section for useful extensions. Feel free to submit a PR (according to the guidelines outlined in that section).

[2018-11-14 17:42] Eloston commented on #174
In addition to the Atom feed for contributor binaries ([link above](https://github.com/Eloston/ungoogled-chromium/issues/174#issuecomment-372207201)), there's also [the Atom feed for new tags from GitHub](https://github.com/Eloston/ungoogled-chromium/tags.atom).

[2018-11-14 18:05] Eloston commented on #586
`Illegal instruction` may arise because LLVM is compiling with an assembly instruction that your CPU doesn't support. I don't have a clue why LLVM would do this, though... it might have something to do with running development versions of LLVM.

I'm going to close this because it seems like a rare case due to an unstable compiler. We should stick either to stable versions or LLVM revisions that Go

[2018-11-14 18:05] #586 closed

[2018-11-14 18:06] Eloston commented on #431
@anchev Chromium allows you to spoof the timezone with an environment variable. Does TBB spoof the timezone by default?

[2018-11-14 18:15] Eloston commented on #431
So far, I am fine with the general idea of adding better Tor integration to achieve feature parity with TBB. Before anyone submits a PR, I'd like to see a proposal of an implementation so we can work on a design we all agree on and minimize wasted developer work.

Maybe we could offload most of the logic to a special extension with access to a new private API (like the Webstore extension uses)?

[2018-11-14 20:12] Eloston commented on #444
I think we can reference these changes to solve this issue:

* https://github.com/brave/brave-core/pull/795
* https://github.com/Eloston/ungoogled-chromium/issues/538#issuecomment-435613533
    * I'm planning on investigating the CWS change to see what it affects.

If I have time, I'll look into it.

[2018-11-14 22:01] caada commented on #444
If someone can build chrome windows version with --disable-machine-id and --disable-encryption switches, I can test portability.

Thanks keeping an eye on this issue.

[2018-11-14 22:03] anchev commented on #586
I don't see why. I am building everything with `-march=native` and `-mtune=native` -- the way I have always done and which has always worked so far.

But the current stable version of LLVM is 7.0 ([released on 2018-09-19](https://lists.llvm.org/pipermail/llvm-announce/2018-September/000080.html)) and UC requires 8.0 to compile which as of this moment LLVM 8 is an "upcoming release" as per [their o

[2018-11-14 22:15] anchev commented on #431
How do you do that?

According to `about:config` the setting is `privacy.use_utc_timezone=true` (which is the same I saw in the cookie when testing).

Perhaps the best way to approach this is to open a discussion with the Tor developers themselves as there are surely additional factors we didn't look into here. Also bear in mind that TBB itself is not perfect at all. In fact I think UC has potenti

[2018-11-14 23:55] Eloston commented on #431
I see. I just set `TZ='Etc/uTC'` whenever I need to spoof timezone to UTC.

IMO it's all comes down to putting in the effort to implement something for Firefox like what ungoogled-chromium did for Chromium. Unless Firefox's design makes this significantly more difficult, I believe the potential in this area is equal to Chromium.

[2018-11-14 23:59] Eloston commented on #586
It's hard to say unless we get down to the specific changes that happened in trunk. I won't take much for granted for a complicated system (i.e. the LLVM toolchain, and any modern compiler for that matter) if I barely know how it works.

Good catch. I forgot about this and confused myself with Debian. Maybe we could document the LLVM revision that works and/or Google uses?

[2018-11-15 00:01] Eloston commented on #444
Unfortunately, Windows support is broken and no one's working on it right now (#475). I could test this on Linux once it gets added.

[2018-11-15 00:32] anchev commented on #586
True. I already wrote in the LLVM user maling list but nobody has replied. I wish I knew how to properly report it as a bug but given the scarce info I wonder what to do.

Sounds good to me.

[2018-11-15 01:40] intika commented on #174
a function chat check that link could be added easily mainstream but in one hand

- update are important for security
and the other
- users may dislike a connection to github

I think as it would just check one link for updates i think it would be fair to enable it by default (this eventual feature) and add a flag to make it disableable

@Eloston what do you think ?

[2018-11-15 02:01] jlj2 commented on #588
Hopefully some of the following might help:-

- HTTPS Everywhere  - By [eff.org](http://eff.org), leading internet privacy body, but @intika made [very interesting points and he offered an excellent alternative](https://github.com/Eloston/ungoogled-chromium/issues/577#issuecomment-435265973).  Thanks @intika!  (Anyway, some valued webpage ([directory.shoutcast.com](http://directory.shoutcast.com)

[2018-11-15 02:53] intika commented on #588
Nice i use to play shoutcast all the time before spotify came in... indeed it does not work with https because the stream is coming from an unencrypted location (proof that HTTPs Everywhere is still not working as expected) it is what it is some services just don't use encryption
Note that i did not yet reviewed the code of the extensions that i listed...

- [Dark new tab](https://chrome.google.co

[2018-11-15 05:35] Eloston commented on #588
I'm flattered that you'd suggest this, but there are caveats. It works fine for the most part, but there are a number of sites where it just doesn't work well or at all. In fact, there are several cases where it can cause the website to severly misbehave, such as unbounded memory growth or a busy loop. However, you can workaround this with a whitelist/blacklist.

[2018-11-15 05:36] Eloston commented on #174
@intika This is something an extension can do perfectly well. I see no need for anything to be added to ungoogld-chromium for this. Once a solution comes around, we could suggest it in the Wiki.

[2018-11-15 05:43] Eloston commented on #431
@anchev At least with the popular shells on Linux, you can just place the value inline to have the variable set just for that process, e.g. `TZ='Etc/UTC' chromium`. You can also use the `env` command to do this. Furthermore with the Debian packages of ungoogled-chromium, you can add a file in `/etc/chromium.d/` to set it by default (since `chromium` on Debian is a shell script wrapper around the a

[2018-11-15 08:29] kabo commented on #569
@Eloston I symlinked cfi_blacklist.txt instead of changing the builb_overrides, so can't confirm that.
With llvm7, cfi_blacklist.txt symlinked and the std::nullptr_t patch I got it to build.

[2018-11-15 08:52] anchev commented on #431
Thanks @Eloston. `env` worked just fine.

@intika: pyllyukko's user.js is a nice project but the very existence of it and many similar is a proof that there is something is very crooked in Mozilla. In an [old issue](https://github.com/pyllyukko/user.js/issues/365) some of that was discussed.

[2018-11-15 10:49] anchev opened #590 "gen.py: error: no such option: --no-sysroot"
### Description

`build.sh` exits with the specified error and the build process terminates.

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 70.0.3538.102
* Configuration bundle: `linux_portable`
* OS and version for building: openSUSE Leap 15.0
* Compiler toolchain:
[code]

### Building and packaging steps

The same described in #447.

[2018-11-15 10:54] intika commented on #590
loooool

[2018-11-15 10:58] anchev commented on #588
- uBlock origin
- uMatrix
- HTTPS Everywhere

Doesn't `chrome://flags/#autoplay-policy` control this?

[2018-11-15 11:08] intika commented on #590
Try removing `use_sysroot=false` from 'config_bundles/common/gn_flags.map' (just after git clone)

[2018-11-15 11:11] intika commented on #588
Yes but not if the site force autoplay with some script

[2018-11-15 15:04] anchev commented on #590
Tried. The issue remains.

[2018-11-15 21:05] Eloston commented on #569
@kabo I see, thanks for the info. I'll try setting the GN flag for the next release and see if it works.

[2018-11-15 22:05] Eloston commented on #590
Might be because bootstrap.py wasn't updated after the snapshot of the GN repo was updated. I'll look into it.

[2018-11-15 22:45] Eloston commented on #584
`python` still refers to Python 2 by default. I don't want to add the hack that Arch uses to fix Python 2 scripts unless it's the default behavior in Ubuntu, so I'm closing this.

[2018-11-15 22:45] #584 closed

[2018-11-15 23:34] FriendlyAI commented on #576
Nope. Same problem when on Firefox and Safari user agents.

[2018-11-17 19:10] podshumok commented on #37
@T-vK  you may want to add some information-gathering script (like `(pwd; lstree /) > lstree_gitliab_artifact` to debuild's `signing-hook` (see [man](https://manpages.debian.org/jessie/devscripts/debuild.1.en.html#HOOKS))

[2018-11-17 19:14] crazy-max commented on #444
@Eloston I can implement the changes I made on brave-core here if you like ?

[2018-11-18 11:18] qvint commented on #53
I would like to present to you [ungoogled-chromium-fedora](https://github.com/qvint/ungoogled-chromium-fedora) which was forked from the Fedora [chromium](https://src.fedoraproject.org/rpms/chromium) package to make it possible to build ungoogled-chromium as RPM-files.

[2018-11-18 13:16] T-vK commented on #37
I just tried. Unfortunately it didn't seem to work.
I basically did this:
[code]
And then I checked for the file:
[code]

[2018-11-18 19:19] podshumok commented on #37
@T-vK

hmm. I think it should be a separate script with +x attr and variable should have its path as a value

[2018-11-19 09:52] T-vK commented on #37
@podshumok that doesn't appear to work either..
[code]
https://gitlab.com/T-vK/ungoogled-chromium-launchpad/-/jobs/122212458

Maybe the current directory is not the one I expected during the execution of the signing hook. I'll try to specify absolute paths.

[2018-11-19 12:13] saltama commented on #590
I've added a patch for this [in this branch](https://github.com/saltama/ungoogled-chromium/tree/sysroot-patch), but I'm not opening a PR since this should be fixed once we have a new source tarball from chromium (the most recent I can download is 70.0.3538.102, newer ones are not available yet it seems).

[2018-11-19 18:54] Eloston commented on #590
@saltama I think tarballs are usually built whenever a new stable version is released. Are there cases where they manually trigger builds of non-stable versions? If manual build triggering does not happen and and the next stable is not due for a little wihle, then it may be a better idea to include the patch so we can stay with the latest stable version.

[2018-11-19 20:18] saltama commented on #590
I've noticed that they store those files in a S3v1 API-compatible server, and a [query shows](https://commondatastorage.googleapis.com/chromium-browser-official/?prefix=chromium-70.0.3538.1) they've just generated `chromium-70.0.3538.110`.
Those builds look like the result of manual triggering since I can't see any clear pattern.

71.x should become the new stable [in 3 weeks or so](https://chromi

[2018-11-19 20:38] saltama commented on #590
Ok, the no-sysroot patch is still needed in 110, opening a PR.
By the way, as expected a few patches will need to be updated for 110.

[2018-11-19 20:56] intika opened #594 "[User discussion] ungoogled-firefox (Librefox)"
**Just published an equivalent work for firefox**
https://github.com/intika/privafox-firefox

**Privafox-Firefox** : Tuning firefox settings (about:config) for a better security, privacy and performances. Firefox does not need to be rebuilt to be cleaned from privacy/security issues; as all settings can be changed in the about:config This project aim to fix all security/privacy issues related to f

[2018-11-19 22:48] #590 closed

[2018-11-19 22:58] #444 closed

[2018-11-20 10:16] anchev commented on #594
I question that and you should question it too (unless you have inspected personally all the millions of lines of code).

This is an impossible task, so no serious project should ever claim even an attempt for full security and privacy, especially in conjunction with speed performance. Not only because security and speed are contradictory (in today's computer world) but also because of all the iss

[2018-11-20 11:02] anchev commented on #594
This is quite different from the claim about aiming to fix all security/privacy. Also please bear in mind:

I am not alone != everyone who is with me is right
Aiming to secure != secure
Mitigation != fix
Not in my vocabulary != not a fact (and vice versa)
Usability <-> security (in today's computers)

In any case this is much more off-topic than the issue about implementing Tor functionality in UC

[2018-11-20 11:08] intika commented on #594
Indeed

[2018-11-20 11:14] anchev opened #596 "SuperCooKey – A SuperCookie Built Into TLS 1.2 and 1.3"
I am not aware if this has been addressed in upstream Chromium but I thought it may be worth mentioning (perhaps another flag to implement?):

https://www.privateinternetaccess.com/blog/2018/11/supercookey-a-supercookie-built-into-tls-1-2-and-1-3/

[2018-11-20 13:17] xsmile commented on #596
AFAIK 0-RTT is not implemented in Chromium right now and this should not be an issue. This might change with future releases though.

[2018-11-20 13:50] nchv opened #597 "Exporting the final tar.xz uses only one CPU core"
### Description

The final step of building (exporting a tar.xz file) seems to use a single CPU core only. Perhaps some optimization can be made to speed it up (using multiple CPU cores).

### Console output and logs

Noticed in KDE System Monitor while this command was running in console, there was only one core at 100%, all others were at 0%:

[code]

### Environment details

* ungoogled-chromiu

[2018-11-20 13:53] anchev commented on #596
You may be right but considering how serious this sounds it deserves a more in-depth look.

[2018-11-20 14:41] yl3dy commented on #597
AFAIK, `xz` utility does not support multithreaded compression/decompression now, so apparently nothing can be done. Does this step really consume a lot of time for you?

[2018-11-20 16:14] anchev commented on #597
I haven't taken the trouble to measure it but the very
fact that I had enough time to notice it means it can
be optimized. Considering that the whole build takes
about 2h everything counts.

BTW man page of xz shows a `--threads=` option.

[2018-11-20 18:05] crazy-max commented on #475
@Eloston I also tried to build a release on my side by fixing patches and also in a Python script but I'm encountering a strange error now : #598

[2018-11-20 21:37] qvint commented on #576
I think the issue is not related to ungoogled-chromium. It seems Google Drive requires some third-party cookies. Adding `https://[*.]googleusercontent.com:443` to the cookie exceptions list (chrome://settings/content/cookies) resolves the issue. At least it did work for me. See [[1]](https://stackoverflow.com/questions/11602242/google-docs-redirect-301-error), [[2]](https://productforums.google.co

[2018-11-20 21:38] #513 closed

[2018-11-20 22:10] Eloston commented on #597
This is a command in buildkit. I parse FILES.cfg to only select the files from the build outputs that are necessary to run Chromium. The tar.xz generation logic is included here as well, and there's no trivial way to implement multi-threading here using the standard library.

I am open to having the code re-written so it uses xz and/or GNU tar directly (Python's tarfile module is not that fast). T

[2018-11-20 22:13] anchev commented on #597
I don't know how to fix this with Python.
I just noticed it and decided to share it.

[2018-11-20 22:19] Eloston commented on #576
@qvint Thanks for the help.

@FriendlyAI If this doesn't resolve your issue, please let us know.

[2018-11-20 22:19] #576 closed

[2018-11-20 22:23] Eloston commented on #597
@anchev Any solution is fine as long as it's easy to maintain and doesn't require bulky or obscure dependencies.

[2018-11-20 22:34] podshumok commented on #37
Well.
First, looks like I was wrong about environment variables.

HOOK should be specified in config file or as an argument to `debuild` script: `. For some reason documentation mentions this hook as `--signing-hook-foo` while I thing it should be `--signing-hook=/signing-hook-script.sh`

Second, looks like we need to see what `gpg` is doing:

[code]
(or maybe try to sign any other file)

[2018-11-20 23:03] Eloston commented on #597
@anchev Right now it's all in Python: https://github.com/Eloston/ungoogled-chromium/blob/efe5ffcd19d8e777c40f354b48d5f6ca54e14683/buildkit/filescfg.py#L62

`tarfile` uses the `lzma` module internally if given a tar mode that specifies `xz` compression.

The alternative solutions can be to create a tar with no compression (via buildkit) and stream the output to `xz`, or print the list of necessary

[2018-11-20 23:16] anchev commented on #597
Thanks. Unfortunately I don't know how this has to be fixed in Python.

I reported it because noticed that it takes more than a minute to create that tar.xz which seems way too much considering that the whole build is being done on a ramdrive (tmpfs) using i7 3770.

Just for comparison, using system `tar` it takes less than 10 seconds to compress the same data:

[code]

[2018-11-21 00:18] anchev commented on #597
I noticed that the above generates `94605755` bytes file which is probably not a fair comparison.

Testing with something closer to what you use and with streaming output to `xz` I see that lzma doesn't seem to use multiple threads at all (resulting file is `67179312` bytes):
[code]
For comparison `7z` creates is faster and the output file is smaller:
[code]
So if anything can be optimized: perhap

[2018-11-21 02:17] FriendlyAI commented on #576
Worked, thank you.

[2018-11-21 02:52] memeticks commented on #588
Can people get extensions to install in ungoog chrome? I cant get the url on this page to work at all, https://ungoogled-software.github.io/ungoogled-chromium-wiki/faq#can-i-install-extensions-from-the-chrome-webstore.
I keep getting invalid appID, i tried including the [ ] and not including them, tried including the "id=" bit and not including it, tried multiple extensions and even tried pasting

[2018-11-21 04:37] ian-moone commented on #588
This is off-topic. Please file a new issue. There you should put which URL you're trying to use.

[2018-11-21 04:38] jlj2 commented on #588
Hi @memeticks!
In case it can help you, a quick way IMHO to install extensions with ungoogled-chromium v70.0 (and v69 too, if I remember correctly, in my experience) is to let the browser install it for you by setting up a custom search engine for extension installation.  Looking through the link you posted, to _"set up the custom search engine"_, you should modify the 'template CRX URL', as descr

[2018-11-21 04:56] jlj2 opened #599 "[SOLVED] Portable Linux v70.0.3538.77-1 download points to v70.0.3538.110-1"
**Describe the bug**
Clicking on [download link](https://ungoogled-software.github.io/ungoogled-chromium-binaries/) for Portable Linux v70.0.3538.77-1 displays a [github page](https://ungoogled-software.github.io/ungoogled-chromium-binaries/releases/linux_portable/64bit/70.0.3538.77-1) describing v70.0.3538.77-1 and its hash values, but the download link there points to a download page offering a

[2018-11-21 11:23] intika commented on #599
In the download page https://www.opendesktop.org/p/1265177/
Under `Files` tab you have "(7 archived)" when you click it it uncover all the previous versions...
I am going to un-archive them

[2018-11-21 11:39] intika commented on #599
Fixed... i un-archived them you don't need to click archived any more.
Can you please close the issue

[2018-11-21 19:51] jlj2 commented on #599
Excellent, thanks @intika.  I notice that the github page referred to above has also been updated to describe the latest version, v70.0.3538.110-1.  The hash sums match the ones for the tar.xz downloaded earlier for that version, so all matches up fine.  Thanks for all that, and for your willingness and dedication to compile and package these!  :)

[2018-11-21 19:52] #599 closed

[2018-11-21 20:32] intika commented on #599
Oww that's too much kindness ^^ thanks you !

[2018-11-22 02:04] memeticks commented on #588
Apologies for the off topic, and thanks a mill jlj2 for your help. Not sure what I was doing wrong yesterday but I got it to work today thanks to your examples and I now have my ublock and common hangouts installed and working perfectly.
Thanks all!

[2018-11-22 14:21] T-vK commented on #37
@podshumok
The man page is indeed wrong.
Here is the output of the signing hook. (`ls -la /` followed by `tree /`) https://t-vk.gitlab.io/-/ungoogled-chromium-launchpad/-/jobs/123825062/artifacts/build/lstree_gitliab_artifact.txt

While attempting to sign a file using gpg I made a very helpful observation.
Then the file to be signed does not exist you get an error like this:
[code]

And when only

[2018-11-22 16:43] jlj2 commented on #599
@Eloston, thank you too for your attention, persistence and commits!

[2018-11-22 17:42] nchv opened #600 "Some blocked content permissions are detected as granted"
Tested with `linux_portable` 70.0.3538.110-1 on openSUSE Leap 15.0.

### STR:

1. Set the following:

#### Disable:
[code]

#### Disable:
[code]
#### Enable:
[code]
2. F12 and run in Console (as per https://developer.mozilla.org/en-US/docs/Web/API/Permissions/query and [discussion](https://github.com/intika/privafox-firefox/issues/1#issuecomment-441085157)):
[code]
### EXPECTED:

There should be n

[2018-11-22 18:09] Eloston commented on #597
@clapbr This is a custom (albeit primitive) distro-agnostic archive generation process I wrote. It has nothing to do with Arch Linux's `makepkg`.

[2018-11-22 21:37] #475 closed

[2018-11-23 00:49] anchev commented on #530
Finally I got some help on LLVM's lists. The key component is to add `-m32` to the command line in which case `CFLAGS=-O3 -pipe -m32 -march=pentium-m -mtune=pentium-m`. This works!

However I am getting some new errors (perhaps missing dependencies):

https://susepaste.org/a3d7b5bc

(On openSUSE Leap 15) I have installed all 32-bit versions of the prerequisite packages but for some of them `zypper

[2018-11-23 05:41] Eloston commented on #530
It looks like the standard library headers aren't available for some reason. Based on the compiler command includes, it doesn't seem to be using Chromium's built-in libcxx library. So, you may need to have your system's standard library headers available so GN can be built. `linux_portable` should then use its own standard library to build Chromium itself.

[2018-11-23 06:51] pegasusearl commented on #588
hmm, after I read this discussion, I think I should reconsider my extension. But my must have extension is **[The Great Suspender](https://chrome.google.com/webstore/detail/the-great-suspender/klbibkeccnjlkjkiokjodocebajanakg).**

The extension I used before is:
- The Great Suspender
- [Adguard Adblocker](https://chrome.google.com/webstore/detail/adguard-adblocker/bgnkhhnnamicmpeenaelnjfhikgbkllg)

[2018-11-23 07:06] Eloston commented on #569
Currently working on 70.0.3538.110 for Debian/Ubuntu, and I suspect `current_toolchain != default_toolchain` in [build/config/sanitizers/BUILD.gn](https://chromium.googlesource.com/chromium/src/+/70.0.3538.110/build/config/sanitizers/BUILD.gn#331), which is preventing `cfi_blacklist_path` from being set. I'm not sure why this is the case, because there was another location where set_default_toolch

[2018-11-23 08:24] renatolond opened #601 "Google Meet: "Your browser can't share your screen""
**Describe the bug**
When using Google Meet, if I try to share my screen I get an error from google meet saying "Your browser can't share your screen".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Google Meet'
2. Start a new meeting
3. Click on "Share my screen", "Share entire screen"

**Expected behavior**
I expected my screen to be shared, as it is in Chromium.

**Environment (pl

[2018-11-23 10:18] T-vK commented on #37
The devscripts package version is `2.17.12ubuntu1.1`.
Unfortunately `mktemp` seems to work :(
[code]

[2018-11-23 10:35] anchev commented on #530
I don't understand.

I am using the same `linux_portable` process as in #447 which has always worked so far for 64-bit architecures (including native and cross-compiling). The only difference as per the current issue is the target architecture/cpu (`pentium-m`). Re. libcxx, here is what `zypper` finds:
[code]
What package(s) do I have to install?

[2018-11-23 11:39] anchev commented on #588
Considering that so many extensions request significant access rights a relevant question when talking about "best" seems to be: How do you decide whether you can grant those rights to an extension or not?

#### Do you check the source code?
- If yes: How exactly? Are you doing it line by line for all files or are you looking for a particular pattern in specific files?
- If no: Do you simply follo

[2018-11-23 14:05] antonin-lebrard commented on #588
@anchev I think there is some good ways to avoid most nefarious or dangerous extensions:

- Never install from the chrome web store, install directly from source (github/gitlab etc..), this will avoid auto-updates with unforseen code added (this could happen even with a good willed developper, if his chrome web store account has been accessed by someone else, to push a nefarious update)
- Try to a

[2018-11-23 15:58] anchev commented on #588
@pegasusearl - when the answer is before the question it looks weird :)

But UC is "immune" to that, so it is not a real issue.

[2018-11-23 18:40] Eloston commented on #530
Perhaps the GN bootstrap script doesn't support cross-compiling. You can try setting native compilation flags for GN bootstrap, then change them to your desired `pentium-m` setting before you run `gn gen` and `ninja`.

[2018-11-23 21:55] Eloston commented on #580
Sorry for the late response; not sure if you have figured it out yet or not.

* `#passwords-keyboard-accessory`: Do you have `#experimental-ui` enabled? It looks like the passwords keyboard can be turned on when either flag is enabled:
    * https://chromium.googlesource.com/chromium/src/+/70.0.3538.110/chrome/browser/password_manager/password_accessory_controller.cc#164
    * https://chromium.goo

[2018-11-23 23:06] anchev commented on #530
How come? I cross-compile successfully for other 64-bit architecture as mentioned in an earlier comment.

Also the error is by `clang++` itself. Trying to run one of the problematic commands separately produces the same output. Adding a `-v` to it shows where it looks for includes:

https://susepaste.org/4830cd4f

Does that give a hint about anything?

Can you elaborate on this please?

FWIW: Curr

[2018-11-24 00:56] Eloston commented on #530
As I understand it, you are compiling on a 64-bit host for a 32-bit target. Were you compiling on a 64-bit host for a 64-bit target before (existing 64-bit shared libraries can be used)? Were you compiling the same version of Chromium (GN bootstrap script has changed)?

I am proposing that you modify `build.sh` so you have something like this:

1. Set flags to target native 64-bit architecture
2.

[2018-11-24 01:44] Eloston commented on #569
This should be fixed. A tag version will come out soon.

[2018-11-24 01:44] #569 closed

[2018-11-24 03:37] #544 closed

[2018-11-24 03:42] azdps commented on #436
I located 2 chromium files that seem to be related to broadcasting 239.255.255.250.

dial_service.cc
[permissions_data_unittest.cc](https://chromium.googlesource.com/chromium/src/+/master/chrome/common/extensions/permissions/permissions_data_unittest.cc)

Not really sure what could be done with these but thought this information could be helpful.

[2018-11-24 03:55] intika commented on #436
We need to add a patch for that main stream to fix it for all platforms

[2018-11-24 03:58] Eloston commented on #436
Given that there is an existing policy setting to disable media router, I'd rather have a CLI flag for this toggle than patch out this specific code within media router.

[2018-11-24 05:53] ian-moone commented on #601
If it depends on _hangouts_, then I guess that's the expected behavior, as `enable_hangout_services_extension` [is disabled](https://github.com/Eloston/ungoogled-chromium/blob/master/config_bundles/common/gn_flags.map#L4).

[2018-11-24 12:33] csagan5 commented on #580
No worries, thanks for your reply. I have not figured it out yet.

They are both disabled by default according to the Chromium code.

Yes, the search results from that site are not pinned to a version. I am still puzzled as well about this one.

This is interesting, thanks for the pointers. I had read about this before but I was not aware of the role of that JSON file.

Would you say that the patc

[2018-11-24 12:38] anchev commented on #530
Correct.

Yes.

Yes.

So far I have cross-compiled successfully only 64-bit host to 64-bit target. I am still struggling with 64 host to 32 target.

Re. the suggestion to reorder flags here is what I did:

First I moved the CFLAGS lines after the call of `bootstrap.py` and before the call of `ninja`. The resulting `build.sh`:

https://susepaste.org/80d52e41

The output shows some new error:

https

[2018-11-24 12:56] anchev commented on #431
A little off-topic but perhaps worth mentioning:

[A post in Tor's blog from 2018-11-23](https://blog.torproject.org/strength-numbers-there-are-many-ways-give) says:

So now Amazon is financing Tor and Tor is advertising Amazon. And this article ends with "Join the fight for privacy, security, and freedom online." Hm...

[2018-11-24 20:48] bill-mcgonigle commented on #569
After updating 022468b..00fe212, everything is working right except:

[code]

--force overwrite works, and a quick smoketest looks good.  Thanks!

[2018-11-24 22:17] Eloston commented on #530
I see. Compiling for 32-bit targets from 64-bit hosts is another level of difficulty because of the number of differences between 32-bit and 64-bit architectures. You can't group cross-compilation of different CPU features (i.e. different supported assembly instructions) with the differences in the number of bits (i.e. 32-bit vs 64 bit); they are quite different.

The fact that GN links now means

[2018-11-24 23:36] Eloston commented on #569
@bill-mcgonigle Thanks for letting me know. I guess my assumptions were wrong; Debian packaging is quite the process.

[2018-11-25 00:00] Eloston commented on #580
That's a good question; I don't really know how this system works as a whole. If I have more time, I can look into it.

[2018-11-25 09:49] anchev commented on #530
The doucmentation says that clang is a cross-compiler. From what you say it sounds to me that the program should be written in a way which supports cross compilation. I wonder what that means.

I suppose the discrepancy which you point out (`sizeof`) may be due to the assumption that the CFLAGS must be after the call of bootstrap.py because there are no such discrepancies if CFLAGS are set before

[2018-11-25 10:44] nchv opened #602 "Google, Mozilla working on letting web apps edit files despite warning it could be 'abused in terrible ways'"
Just seen and sharing it for future consideration:

https://www.techrepublic.com/article/google-mozilla-working-on-letting-web-apps-edit-files-despite-warning-it-could-be-abused-in-terrible/

A flag to block that (when the time comes) would be very welcome.

[2018-11-25 13:02] anchev commented on #530
So here is what I found:

[Discussion from 2015](https://groups.google.com/a/chromium.org/forum/?_escaped_fragment_=topic/chromium-dev/3d7-emSR0uI) suggesting some modifications for a 32-build. I don't know if those are applicable as of today of how to use them. In any all sources I found clearly say that it is impossible to build 32 bit chrome on 32 bit machine because the build process requires

[2018-11-25 23:37] Eloston commented on #530
Like I said before, cross-compilation is a broad term. Architecture is just one parameter that defines a target configuration, see the [Target Triple](https://clang.llvm.org/docs/CrossCompilation.html#target-triple) for other parameters. Compiling for different architectures (e.g. 64-bit to 32-bit) is much more challenging than compiling for the same architecture (e.g. 64-bit to 64-bit).

I believ

[2018-11-25 23:52] Eloston commented on #601
Based on [this article](https://zapier.com/blog/google-hangouts-meet-guide/), it looks like Google Meet is just redesigned Hangouts. In that case, what @ian-moone should be correct. I don't want to change the GN flag or add extra code (e.g. patches for a flag or something) since it clearly goes against the spirit of this project. I will at most allow instructions in the Wiki to get this working (i

[2018-11-25 23:52] #601 closed

[2018-11-26 06:09] azdps commented on #596
Wow nice find anchev. Looks like they are actively working on it right now in chromium.

[Interesting flags](https://github.com/chromium/chromium/blob/0c489f4f41545adab3d4682f0f3c99713a3cb062/net/quic/quic_flags_list.h)

[2018-11-26 07:01] anchev commented on #596
@azdps the link you shared seems to be about QUIC flags. How is that related?

BTW speaking of QUIC: I see it as the next anti-privacy thing by G because Tor works with TCP only. Of course that's a whole other big topic to discuss separately.

[2018-11-26 09:03] csagan5 commented on #580
I can confirm that `fieldtrial_testing_like_official_build=true` made the defaults in the code effective; thanks again!

[2018-11-26 09:03] #580 closed

[2018-11-26 10:05] renatolond commented on #601
Thanks for the response!
I was not sure if there was any google component involved, but it does make sense that they would be using their own stuff.
I will check what would be needed and if I find it I will document it on the wiki :)

@Atavic having to use google meet for work does not make me want to give google control over every other website I access, hence the issue.

[2018-11-26 16:31] Atavic commented on #601
Ok, now understand your position. Corporations like MS, Apple, Google and Amazon are improving the grip on their customers every minute. My only idea (for an issue that I met myself) is to install more browsers or use more profiles for specific needs. Even Virtual Machines can be useful.

[2018-11-26 22:10] azdps opened #604 "Windows - args.gn doesn't get created correctly"
Windows ungoogled-master branch 11/26/2018.

Windows bug [#583](https://github.com/Eloston/ungoogled-chromium/issues/583) that was suppose to be fixed with commit [6987eca](https://github.com/Eloston/ungoogled-chromium/commit/6987eca9ac2d6b7516702f0afcad63b3a16eef84) didn't work as expected.

I'm attaching the args.gn file that it just produced for me during the windows build process. The new line

[2018-11-26 22:17] azdps commented on #604
Just for comparison the old code produced the following file: [args.txt](https://github.com/Eloston/ungoogled-chromium/files/2617511/args.txt)

This is the old code prior to changing it:
`(source_tree / 'out/Default/args.gn').write_text('\n'.join(bundle.gn_flags), encoding=ENCODING)`

[2018-11-26 22:21] azdps commented on #604
The is what the args.gn file should look like. I was able to print the information using the command:
`print(str(bundle.gn_flags), end='')`

I'm just not familiar enough with python to fix this issue. I do understand that the ungoogled-chromium Windows build process is in need of update. I think this will at least help the build process.

[code]

[2018-11-27 12:10] anchev commented on #530
I have linked to the same reading earlier. The big question which still remains is: how does one specify the target tripple when building UC? Currently I do it by exporting CFLAGS inside `build.sh`. Are you suggesting any other approach?

I don't know how this can be possible, considering that chromim developers explain that linking needs more than 4GB of memory. Anyway re. Debian I searched and f

[2018-11-27 23:16] anchev opened #605 "Remove or replace the "Learn more" link from the "You've gone incognito" page"
**Is your feature request related to a problem? Please describe.**
The "Learn more" link in the "You've gone incognito" page leads to trk:247:https://support.9oo91e.qjz9zk/chrome/?p=incognito - obviously a non-existing address.

**Describe the solution you'd like**
Remove the "Learn more" link.

**Describe alternatives you've considered**
Replace the link and point it to a page in the documentatio

[2018-11-27 23:20] anchev commented on #431
Just another note in the context of Tor:

It is a good idea to disable expliclitly `chrome://flags/#enable-quic` because QUIC is UDP and Tor socks proxy works only on TCP.

[2018-11-28 02:11] ian-moone commented on #431
No, it is not. Enabling QUIC does not conflict with TCP/SOCKS5, so it continues to work as usual.

[2018-11-28 07:17] qvint commented on #605
What about completely removing all broken links including help pages? (e.g. F1)

[2018-11-28 11:52] anchev commented on #431
The point is: When one uses Tor one doesn't want to "work as usual" (i.e. having non-torified connections).

[2018-11-28 11:52] anchev commented on #431
The point is: When one uses Tor one doesn't want to "work as usual" (i.e. having non-torified connections).

[2018-11-28 12:02] anchev commented on #605
I have thought about that too but it may also be confusing for someone who may have just started using UC. Perhaps it will be better to have them display a UI element saying "In UC all links pointing to Google have been removed deliberately". Then it will not create the impression of something broken. Ideally the info from each link should be available inside the browser itself, not on some extern

[2018-11-28 12:36] qvint commented on #605
I don't see much difference between _"support.9oo91e.qjz9zk Blocked by client"_ and _"Link is deliberately not working"_ messages... In both situations user will get the impression of something [deliberately] broken. If we remove the links, he won't see any error message at all--there will be no link to click.

[2018-11-28 12:52] ian-moone commented on #431
So you are saying that if I happen to visit a QUIC-enabled server, it will bypass SOCKS5 and use QUIC as preferred protocol? If so, do you have a source?

[2018-11-29 05:02] taahamahdi opened #608 "Slow startup when launching in Debian Buster"
**Describe the bug**
Launching UC via `chromium` in a terminal works, but it takes at least 3 seconds before the window actually shows up. I don't see any errors reported after issuing the command, and there aren't any issues with UC after startup.

*Update: Nevermind, I see the error `[21615:21615:1129/002153.242543:ERROR:vaapi_wrapper.cc(328)] vaInitialize failed: unknown libva error` when launc

[2018-11-29 07:43] taahamahdi commented on #608
After doing a bit of research, [this issue](https://github.com/saiarcot895/chromium-ubuntu-build/issues/26) seems somewhat related. Is the issue out of the scope of this project?

[2018-11-29 13:01] anchev commented on #605
But I have never suggested that. Deliberaterly removed != deliberately not working.

Also a layman doesn't know what a "client" is. So any message should be clear enough for everyone, not just for experts. Currently it is not, hence the issue.

[2018-11-29 13:09] anchev commented on #431
My understanding is that it will simply won't use it - just like some of the UDP connections used in torrents (and [the recommendation not to use Tor for torrents](https://blog.torproject.org/bittorrent-over-tor-isnt-good-idea)).

I haven't researched deeply into QUIC but I have read it is based on UDP, so logically the same should apply as long as Tor supports only TCP. In a quick search I found

[2018-11-29 16:52] Eloston commented on #431
@anchev Your link is discussing **Tor over QUIC**, not **QUIC over Tor**.

@ian-moone The Wikipedia page for QUIC says it is based on UDP. The overview page of Tor on Tor Project's website says it only supports TCP streams. Thus, QUIC should be ignored by Tor. I don't know if Tor has explicit QUIC support or not.

[2018-11-29 17:13] Eloston commented on #605
I could change the error message for [`BLOCKED_BY_CLIENT`](https://chromium.googlesource.com/chromium/src/+/70.0.3538.110/net/base/net_error_list.h#86) (which I don't like too much because it is conflating a standard error with an error we introduced), or I could [add a new `NET_ERROR`](https://chromium.googlesource.com/chromium/src/+/70.0.3538.110/net/base/net_error_list.h) that has its own messa

[2018-11-29 17:20] Eloston commented on #604
Resolved by #607.

[2018-11-29 17:20] #604 closed

[2018-11-29 18:07] anchev commented on #431
As I said I haven't read it.
Just what searx returned.

[2018-11-29 18:18] anchev commented on #605
Be careful when downloading Google owned content. It may be copyrighted (and risky for this precious project).

Perhaps the safest (and maybe easier for you) would be to display a special page explaining (for all links) that this is *ungoogled* chromium and that's why it has no links to Google whatsoever, underlining that it is not an error (broken) but that it is so by design and concept.

If the

[2018-11-29 18:40] Eloston commented on #605
Good points.

In that case, adding a new `NET_ERROR` error may work pretty well. This way, I'll be able to have a custom message explaining what is going on, including a link explaining what to do to.

Another idea is to combine the two ideas I had. I could replace all the `support.google.com` URLs to a new internal Chrome page that tells the users why it's blocked, and what to do to view the actu

[2018-11-29 21:16] Eloston commented on #608
So the 3 second waiting time issue is resolved now? Instead, does ungoogled-chromium not open because of the libva error?

[2018-11-29 21:21] taahamahdi commented on #608
My bad, I was pointing out that there is actually an error message presented. The issue is still there, and ungoogled-chromium still opens, albeit with a delay.

[2018-11-29 21:57] Eloston commented on #530
I see, I don't know much about the Target Triple beyond it being a compiler flag that affects how it should build the binary.

I'm not entirely sure if Debian builds its Chromium packages with cross-compilation or native compilation. [There are cross-compilation instructions here](https://wiki.debian.org/CrossCompiling#Building_with_dpkg-buildpackage). Debian's Chromium package has builds for the

[2018-11-29 22:33] azdps opened #610 "Windows 10 build failure - master branch"
### Description

WIndows 10 build failure on ungoogled-chromium master branch 11-29-2018

### Console output and logs

[build failure log.txt](https://github.com/Eloston/ungoogled-chromium/files/2631112/build.failure.log.txt)

### Building and packaging steps
No custom steps

### **Help**
build fails when attempting to build [s2cellid](https://github.com/chromium/chromium/tree/master/third_party/s

[2018-11-29 22:48] Eloston commented on #608
I'm not entirely sure what the delay may be, but I have set some flags in `/etc/chromium.d/default-flags` that may cause some slowdowns. You could try tweaking them to see if they change performance.

Regarding the libva issue, it may be because you just have `libva1` installed but not any of the runtimes (e.g. `libva-drm1`, `libva-egl`, `libva-glx`, etc). You can safely ignore this error if you d

[2018-11-30 01:42] #610 closed

[2018-11-30 01:58] azdps opened #611 "debian_buster attribute.patch causes windows build failure"
### Description

Windows 10 ungoogled-chromium master branch build failure

The debian_buster [attribute.patch](https://github.com/Eloston/ungoogled-chromium/blob/master/patches/debian_buster/warnings/attribute.patch) removes math.h and includes cmath. Unfortunately, removing math.h causes Windows build failure. If you look at [s1angle.h](https://chromium.googlesource.com/chromium/src.git/+/master

[2018-11-30 07:45] waqas commented on #611
Can you please share Windows binaries if build succeeds? Thanks.

[2018-11-30 07:47] qvint commented on #605
I like the idea. How about prefixing all help URLs with `"chrome://unsafe-nav?url="` and splitting them up to prevent domain substitution?
* Before: `"https://support.google.com/chrome/?p=settings_password"`
* After: `"chrome://unsafe-nav?url=https%3A%2F%2Fsupport" ".google" ".com%2Fchrome%2F%3Fp%3Dsettings_password"`

In this case we could display [a typical Chrome's "Back to safety" page](https:

[2018-11-30 08:04] azdps commented on #611
I have yet to have a successful Windows build. I'm working my way much closer though. When I do I will be sure to share it here.

[2018-11-30 11:32] anchev commented on #605
Re. Any type of error message creates the impression of something broken - it seems we agree doesn't sound good.

A link to Google in an ungoogled project - hm, please don't do it :) That's why I suggested a search link instead.

The very fact that you would have to handle separately actual "real links" and other links too Google (which you replace currently) is prone to errors which can lead to l

[2018-11-30 11:36] anchev commented on #530
Thanks for the info. I will have to look into all that more carefully.

Does that mean there is a risk of ending up with a binary which is not ungoogled?

[2018-11-30 17:46] arutr opened #612 "Segmentation Fault for Cosmic 71.0.3578.98-2"
**Describe the bug**
Running UC from Contributor Binaries fails with an error thrown by `sandbox_linux.cc`, followed by a segmentation fault.

**Screenshots**
[code]

**Environment (please complete the following information):**
 - OS and version: Ubuntu 18.10 Cosmic
 - ungoogled-chromium version: 70.0.3538.110-3

[2018-12-01 11:01] anchev commented on #588
My recent findings:

The command line option:
[code]
disables mixed content.

The following flag does the same + it enforces a non-HTTPS warning in address bar:
[code]
As you may know uBO can also block mixed requests.

So these practically make HTTPS Everywhere not necessary. The only thing which these 2 options don't do is to enforce secure requests but that may break loading (just like with HTT

[2018-12-02 21:35] #550 closed

[2018-12-02 21:35] #539 closed

[2018-12-02 21:41] chrisbarber opened #613 "Build issue with older python 2.7, dependent on $TERM"
### Description

This seems to be a duplicate of [this upstream issue](https://bugs.chromium.org/p/chromium/issues/detail?id=860176). My experience was that I was unable to build with python 2.7.12 and TERM=`xterm-256color`. A workaround was to set $TERM differently (e.g. run the build inside `screen`), OR to simply upgrade my python 2.7 (easiest way on my older MacOS 10.12 was to `brew install py

[2018-12-02 22:45] jjpe opened #614 "MacOS 10.13.6 High Sierra build fails"
### Description

(Describe the higher-level problem here, including any ideas or suggestions you may have)

I just tried to build this on MacOS High Sierra `10.13.6`.  The build fails.

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: `The master branch at the time of writing (i.e. December 2nd 2018)`
* Configuration bundle: `macos`
* Packaging type (if a

[2018-12-02 23:05] jjpe commented on #614
Tried to build a second time. This time the output differs somewhat:
[code]

[2018-12-04 13:55] wiredrunner opened #615 "Channel IDs on Ungoogled Chromium"
Since Google deprecated support for Token Binding recently Channel IDs amount to nothing more than unblockable cookies which can only be removed manually.  No API supports removing them selectively.

How does Ungoogled Chromium deal with these?  Vivaldi hides them but they are still being loaded.

Thanks

[2018-12-04 19:07] #611 closed

[2018-12-04 20:07] ian-moone commented on #449
Regarding the install compatibility with vanilla `www-client/chromium`, I decided that I will be adding the USE flag `chromium-compat` (disabled by default, of course) in near future. There's an [issue tracker](https://gitlab.com/chaoslab/chaoslab-overlay/issues/68) for those who want to contribute.

[2018-12-04 21:08] ian-moone commented on #612
That error is unrelated to the segfault. If you search around, you will see that's a common error, with no clear solution. See https://github.com/Eloston/ungoogled-chromium/issues/519#issuecomment-425247527

[2018-12-05 03:48] taahamahdi commented on #608
Sorry for taking so long to respond. I tried commenting out the flags and there was no change in startup time. It might just be an issue with Buster itself.

[2018-12-05 13:26] phaoost opened #616 "Debian: Installing SUID sandbox does not work"
Unable to run chromium:

[code]

[2018-12-06 04:58] ian-moone commented on #616
Your kernel is missing `namespaces` and/or _Yama_ support.

[2018-12-06 05:09] ibeanubis commented on #614
I have the same problem

[2018-12-06 11:42] yl3dy opened #617 "Build failure on Ubuntu 18.04, bootstrap option mismatch"
### Description

Build fails on Ubuntu 18.04 with an argument error when calling tools/gn/bootstrap/bootstrap.py. The same issue persists both with current master and with 70.0.3538.110-3 release.

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 70.0.3538.110-3
* Configuration bundle: ubuntu_bionic
* Packaging type (if applicable): [e.g. `linux_simple`,

[2018-12-06 16:56] Eloston commented on #605
I'm not sure when I will have time to implement this.

[2018-12-06 16:57] Eloston commented on #530
Potentially yes, only if you use Google's pre-built sysroot while building.

[2018-12-06 17:08] #613 closed

[2018-12-06 17:11] Eloston commented on #615
I'm not familiar with them. Do you have any recommended readings?

[2018-12-06 17:14] Eloston commented on #612
@arturkomoter Are you able to build from source on that machine?

[2018-12-06 17:16] Eloston commented on #608
Do you have background processes enabled in regular Chromium? (i.e. "Continue running background apps when Chromium is closed" under `chrome://settings`)

[2018-12-06 17:18] Eloston commented on #616
Strange, the `ungoogled-chromium-sandbox` package should've fixed this (via SUID sandbox). I might have broken something re-writing the Debian packaging... I'll look into it.

[2018-12-06 17:19] chrisbarber commented on #613
I did see this happen with 2.7.12. It might work in 2.7.13 for all I know, but you might want to just recommend ">=2.7.15" since we know it works in that version. 2.7.15 is the latest but it was released in May of this year so it is not that stringent of a recommendation.

[2018-12-06 17:22] Eloston commented on #614
@jjpe Did you follow the instructions in your original error?:

[code]

Also, when you re-ran the build, did you remove `build/src` first?

[2018-12-06 18:20] ibeanubis commented on #614
Hey, I got it to work. I had already accepted the agreements but I also had to leave the xcode application open throughout the process for it to work!  Thanks for your amazing work!

[2018-12-06 18:43] jjpe commented on #614
That's the problem with old MacOS versions: Apple won't allow upgrading.
At the same time, Apple won't allow me to upgrade to the newest MacOS version either (pre-2012 MBP here).
So basically what I infer it comes down to is that support is needed for older MacOS versions.

[2018-12-06 19:51] arturkomoter commented on #612
Yes, but the same problem occurs.

[2018-12-06 21:33] Eloston commented on #612
I see. Could anyone else with Ubuntu 18.10 cosmic confirm or deny this?

[2018-12-06 21:36] Eloston commented on #617
Do you have the text file `build/src/debian/patches/series`? Does it have any content?

[2018-12-06 21:38] wiredrunner commented on #615
At the same time apparently chromium plans to deprecate them they are showing up from websites (on Chrome) I never even visit. pippio.com, superfastcdn.com breitbart.com and endless google properties all it says under cookies is Channel ID and the name of the website.  I could block all cookies and they still show up.

https://groups.google.com/a/chromium.org/forum/#!topic/net-dev/AjFQjBmaEQE

htt

[2018-12-06 23:41] taahamahdi commented on #608
Yup! I have it enabled in both regular Chromium and ungoogled-chromium

[2018-12-07 03:39] taahamahdi commented on #608
I tried running `` ./chromium --show-component-extension-options --disk-cache-dir=/tmp/ungoogled-chromium-disk-cache --disable-component-update --ignore-gpu-blacklist --no-default-browser-check --media-router=0 --enable-remote-extensions --load-extension=`ls -dm /usr/share/chromium/extensions/* 2>/dev/null | tr -d '\n'` `` in the folder `/usr/lib/chromium`, and ungoogled-chromium launches as fast

[2018-12-07 07:34] yl3dy commented on #617
Yes, it does: https://pastebin.com/ympcgrcC

[2018-12-08 18:59] Eloston commented on #608
`/usr/bin/chromium` is a shell script that eventually runs `/usr/lib/chromium`. This shell script is essentially the same script that is used in Debian's `chromium` package. Perhaps you could try Debian's `chromium` and see if it is slow for you as well?

[2018-12-08 19:05] Eloston commented on #617
That's strange. The `-j` flag is added through `parallel.patch`, which is listed in the `series` file you gave me. The fact that you do not have the `-j` flag in your `bootstrap.py` means that something went wrong when applying patches; The patches *should* have been applied when you invoked the `dpkg-buildpackage` command.

In the output from `dpkg-buildpackage`, did you see output about applying

[2018-12-08 19:47] wiredrunner commented on #615
If you look at the Channel ID they all say -

Domain
*.*

Certificate Type
ecdsa_sign

Maybe they aren't really cookies?

[2018-12-08 23:57] #616 closed

[2018-12-10 03:01] taahamahdi commented on #608
Just tested it, ungoogled-chromium is still noticeably slower than Debian's chromium package. By the way, which `.deb` packages should I be installing after manually building? The following packages are in my `ungoogled-chromium/build` folder:

[code]

[2018-12-10 11:14] ribatamu opened #619 "Windows Safe Browsing patches are out-of-date"
Please, if anybody had updated Windows build to shared.

[2018-12-11 00:22] azdps commented on #619
With some changes that have recently been fixed with the Windows build I have been able to get almost all the way through the build process. Unfortunately, the build process fails when building the safebrowsing portion of ungoogled-chromium. Looking through some of the patches and the files that are being patched it looks like the Windows safebrowsing patches need to be updated. Not only are there

[2018-12-11 07:35] waqas commented on #619
Yes, related to Safebrowsing. Minus those patches and someone has released the build...
https://chromium.woolyss.com/#comment-4085

[2018-12-11 10:12] yl3dy commented on #617
At last I think I figured out the root of the problem: leftover hidden files in `build/src`. Looks like these somehow prevented patches from applying. Now the version from master builds successfully.

Probably it should be added to the docs that `build/src` directory should be cleared before every building attempt.

[2018-12-11 10:14] #617 closed

[2018-12-12 12:18] englishextra commented on #260
@arturkomoter

You have to uncheck in advanced options in settings - keep cookies until browser closes

[2018-12-12 12:24] englishextra opened #623 "add to the list of default web browsers on Windows 10"
This is to share. Not a question or bug.

The .reg file below will not set the Ungoogled Chromium as default browser, it only shows it in Control Panel > Default Programs > Set default programs

[code]

[2018-12-12 13:48] black-ish opened #624 "Windows: BrowserMetrics consuming large amount of space"
First of hello there,
I've been using this version of chromium for a few weeks now and noticed that my disk space got lower and lower when it shouldn't, turn out that Chromium keeps filling the folder "BrowserMetrics" with 8MB .pma files and I see no option anywhere to disable that. In that time the folder grew already to about 1,2GB for nothing.

If that could be disabled through a command line s

[2018-12-12 14:00] black-ish commented on #624
Forgot to add that I currently use these command line switches:
"\Chrome.exe --user-data-dir=".\Profile" --disable-breakpad --disable-logging --disable-sync --disable-speech-api --disable-voice-input --disable-domain-reliability"
Also forgot to say thank you for this nice edition of Chromium, thank you very much.
I don't seem to be able to edit my other post for some reason, so sorry for double po

[2018-12-12 19:18] Eloston commented on #608
@taahamahdi At the very least, you need `ungoogled-chromium` and `ungoogled-chromium-common`.

[2018-12-12 19:19] taahamahdi commented on #608
Cool, just checking. I have the issue either way unfortunately.

[2018-12-12 20:35] #624 closed

[2018-12-12 20:44] Eloston commented on #623
Thanks for sharing! To reduce clutter, issues are not for submitting tips. Instead, please consider submitting a PR to the [ungoogled-chromium-wiki](https://ungoogled-software.github.io/ungoogled-chromium-wiki/).

[2018-12-12 20:44] #623 closed

[2018-12-12 20:45] #449 closed

[2018-12-12 21:05] black-ish opened #625 "[Feature Request] Add "Startup command line" option to settings panel"
As per request, splitted. And thanks for the information on the other issue. :+1:

The request:
Since there are a great many switches for the "startup command line" it would be very useful to get an option added to settings (I know not recommended, but I wouldn't know where else to put it) a la CentBrowser (startup command options are stored in an .ini file which is read/called at startup), in Win

[2018-12-13 04:48] Eloston commented on #532
Closing since 70 has been out for a while.

[2018-12-13 04:48] #532 closed

[2018-12-13 04:54] Eloston commented on #540
Closing since version 70 has been out for a while. Let us know if you still encounter this error.

[2018-12-13 04:54] #540 closed

[2018-12-13 04:55] Eloston commented on #558
Closing since questions seem to be answered and inactivity.

[2018-12-13 04:55] #558 closed

[2018-12-13 04:58] Eloston commented on #612
@arturkomoter Have you tried using a new user data directory?

[2018-12-13 05:47] #419 closed

[2018-12-13 11:37] arturkomoter commented on #612
@Eloston like which one? I have built in my user home directory.

[2018-12-13 17:24] Eloston commented on #612
@arturkomoter I mean a new Chromium user data directory, via `--user-data-dir`

[2018-12-13 19:17] csalvato commented on #601
Why can't we, as users, decide whether or not to enable this extension? Why is this marked as wontfix?

[2018-12-13 19:47] Atavic commented on #601
Because it is disabled with this [option](https://github.com/Eloston/ungoogled-chromium/blob/master/config_bundles/common/gn_flags.map#L4) when chromium is built from source.

[2018-12-13 20:39] saltama opened #626 "Unresolved dependencies: safe_browsing->disk_image_type_sniffer_mac (on macOS)"
### Description

I've started a build on macOS right after 66c011935e66df73cd9777c978e42cfb1b41e18f, the build fails at the beginning with "ERROR Unresolved dependencies. //chrome/common/safe_browsing:safe_browsing...".

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 71.0.3578.98-2
* Configuration bundle: macos
* Packaging type (if applicable): macos
*

[2018-12-13 20:50] saltama commented on #626
Added here: https://chromium.googlesource.com/chromium/src/+/6e0836efbb227cba1336d7750899d4d242d1224d%5E%21/#F0

[2018-12-13 20:50] Eloston commented on #601
@csalvato I don't understand how supporting this "extension" (it's actually code built-in to the browser) will contribute to the goals of this project. Also, if you need the extension, changing the flag that @Atavic mentioned and re-building the browser will fix the issue. Could you explain your use-case in more depth? Why would you need a Google-specific component in a browser designed to remove

[2018-12-13 21:04] saltama commented on #626
See #627

[2018-12-13 21:17] Atavic commented on #596
Zero Round Trip Time Resumption (0-RTT) is included into Alphabet (Google) efforts.
A good explanation is [here](https://blog.erratasec.com/2018/11/some-notes-about-http3.html)

[2018-12-13 21:18] Atavic commented on #596
Zero Round Trip Time Resumption (0-RTT) is included into QUIC, an Alphabet (Google) effort.
A good explanation is [here](https://blog.erratasec.com/2018/11/some-notes-about-http3.html)

[2018-12-13 21:31] tie commented on #626
Seems to be a bug in Chromium's build scripts.
Did the patch from PR work for you?

[2018-12-13 21:37] csalvato commented on #601
@Eloston I am not super intimate with the goals of the project, but I would image that one of the goal is to actually have the browser get adopted.  If that's the case, then this extension being excluded creates a massive barrier for many people who rely on screen sharing with Google Meet.

Google Meet is one of the most popular and pervasive video meeting and screen sharing tools for remote teams

[2018-12-13 21:44] csalvato commented on #601
**Re: rebuilding the browser:** I wouldn't even know how to rebuild the browser from source just to get Google Meet working.  If that's the solution to the problem, I think you'll find a barrier to getting more people to use Brave.

[2018-12-13 21:49] tie commented on #626
Actually it was [fixed in upstream](https://chromium.googlesource.com/chromium/src/+/2c065bb11d7a6e0227c0d32e043e458e1ef76091%5E%21/chrome/common/safe_browsing/BUILD.gn) a week ago.

[2018-12-13 23:30] csalvato commented on #601
@antonin-lebrard Oh wow! My mistake. I was linked here from another issue on the Brave project.  How embarrassing :)

[2018-12-13 23:30] csalvato commented on #601
In that context, that makes total sense.

[2018-12-13 23:31] Eloston commented on #601
@csalvato First, I would like to note that we are *not* affiliated with Brave. It just so happens that both projects share similar intentions and goals.

Anyway, while I would like to have this project grow, it is secondary to the main objective of this project: to remove integration with Google services. Based on that fact alone, supporting a feature which *only* benefits the usage of Google serv

[2018-12-14 00:02] Eloston commented on #626
I just merged #627. If it works, I can create a new tag so new macOS binaries can be published.

[2018-12-14 09:52] saltama commented on #626
Build in progress (at least it gets past the error), I'll let you know.

[2018-12-14 15:34] saltama commented on #626
Ok, it worked, thanks tie!

[2018-12-14 15:34] #626 closed

[2018-12-15 21:56] mickrussom opened #630 "Will this ungoogled-chromium fix the v71 tabs, v71 muting and v71 disabling flash?"
Will this ungoogled-chromium fix the v71 tabs, v71 muting and v71 disabling flash?

My main need to get off of google's v71 browser is flash is basically gone, muting is broke now and the new tab system is beyond broken.

Will ungoogled-chromium be a sanctuary against google's radical and terrible design changes?

[2018-12-16 00:59] Eloston commented on #630
Sorry, but that goes against this project's goals (stated in the beginning of the README). If you want something like that, you should propose the idea to a browser that makes its own design choices, like Brave browser. If you don't need something exclusive to Chrome/Chromium, there's always Firefox and its derivatives.

However, I will accept toggles to enable such customizations. That is, if any

[2018-12-16 00:59] #630 closed

[2018-12-16 01:48] Eloston opened #631 "Investigating Google-specific code adding entries to Preferences"
On startup, the browser will add the following unnecessary fields to the Preferences file of a profile (of a user data directory) in version 71 (the following are paths of JSON keys in UNIX path format) if they are missing:

[code]

The code that reads/writes these entries should be disabled, as it may help prevent the browser from crashing (e.g. segfaults) when an unclean profile is used (e.g. on

[2018-12-16 06:09] jlj2 commented on #556
Portable Linux builds by @intika are very valuable to me.  They are the ones being used by at least myself a considerable amount of time.

Gentoo overlays are not attractive as an alternative.

[2018-12-16 19:22] riyad opened #632 "FYI: comments on reproducible builds on Ubuntu 18.04 bionic and 18.10 cosmic"
I've used [diffoscope](https://diffoscope.org/) to compare two of my cosmic builds and @Eloston's bionic build against my own and I must say ungoogled-chromium seems reproducible.

### Cosmic
The differences are:
- all deb files have the same content/hash :heavy_check_mark:
- all files have different file modification times. This is expected. As it's only metadata this doesn't change the file cont

[2018-12-17 21:02] arturkomoter commented on #612
I've fallen back to 18.04, and the latest v71 works fine.

[2018-12-17 21:33] leso-kn commented on #160
I'll drop this comment to give back some attention to this topic.

What exactly is the issue with the chromecast functionality? Does it require proprietary libraries from google?

@nopjmp @Eloston Chromecast v1 works via ssdp and CC v2 via mdns and websockets using the ipc and 'casts'-protocol. It doesn't require connecting to google servers.

The receiver part is quite complicated and not really

[2018-12-18 00:46] marksolaris opened #633 "src build: clang-7 hard coded requirement not needed when clang 8 installed"
### Description

I've manually compiled and installed the version 8 clang suite (clang++, lld, llvm etc) from the llvm.org source code. It's installed as a clang-8 binary, but not as an apt package. I don't have a clang-7 apt installed.

It'd be useful to have the linux builds detect for clang-7 or better, thus finding clang-8 etc and continuing without substitutions in the build files.

### Envir

[2018-12-18 01:09] marksolaris opened #634 "building.md missing instructions how to move from compile tree to /usr tree"
### Description

The building.md docs for building finish before describing what to do with the raw build tree once completed. They need to describe or link to instructions on how to merge the new chromium into the system to replace the original chromuim. The docs are very sparse on what you actually do with the new binaries and libs. Otherwise the first time builders are marooned and wondering wh

[2018-12-18 01:51] marksolaris opened #635 "debian build: tilde illegal in .deb filenames"
### Description

The debian_bionic build creates .deb files with tildes in them. dpkg fails on these filenames.

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 71.0.3578.98-3
* Configuration bundle: debian_bionic
* Packaging type (if applicable): ? deb?
* OS and version for building: Ubuntu 18.04
* Compiler toolchain: llvm 8

*(If relevant, add other en

[2018-12-18 01:57] #635 closed

[2018-12-18 02:11] marksolaris opened #636 "debian build: Why are the datestamps July 29th?"
### Description

The debian_bionic build produces .debs with files dated July 29th. This is very odd and makes installers think they haven't installed the latest bleeding edge code.

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 71.0.3578.98
* Configuration bundle: debian_bionic
* Packaging type (if applicable): ?
* OS and version for building: Ubuntu

[2018-12-18 12:16] AlexIsNice opened #637 "Widevine on macOS"
I was trying to follow the instructions on the website however they seem extremely outdated.

Can we please get new instructions for chrome 70.0.3538.77

Thanks!

[2018-12-19 01:21] Eloston commented on #556
@jlj2 I see. In that case, taking the route of creating and using sysroots may be the most reasonable here.

[2018-12-19 01:51] Eloston commented on #632
Thanks for testing and writing up your results. I am new to the subject of reproducible builds, so these results are interesting to me.

In regards to the differences, you mentioned in both bionic and cosmic how it is just the `buildinfo` and `changes` files that vary. These are just plain-text metadata files, so I don't think it matters if they are identical. However, I still think we should cons

[2018-12-19 01:52] Eloston commented on #612
Good to hear. Closing.

[2018-12-19 02:00] Eloston commented on #160
@leso-kn Thank you for your insights. I don't know anything about Chromecasts; My previous comment was pure speculation.

If mDNS is all that is needed to make Chromecasts function, then I think ungoogled-chromium needs to consider re-enabling mDNS and Service Discovery (via `patches/ungoogled-chromium/fix-building-without-mdns-and-service-discovery.patch` and the flags in `config_bundles/common/g

[2018-12-19 02:11] Eloston commented on #634
Good point. These instructions should also be available to all users who use Debian packages. However, I don't know the best place to put these instructions; Any suggestions?

[2018-12-19 02:15] tonowoe commented on #362
This is not the issue anymore after upgrading to 71.x.

[2018-12-19 02:17] Eloston commented on #636
That's because the changelog file has a fixed timestamp. For example: https://github.com/ungoogled-software/ungoogled-chromium-debian/blob/2400d42958d1b9788bea30928c7d7f9bb70fcc75/debian/changelog.ungoogin

Ideally, the timestamp should be set to the time the tag of a version was made. However, that is hard to determine and not available in certain scenarios. Perhaps we should have the `debian/rul

[2018-12-19 02:19] Eloston commented on #637
Are the instructions not working?

[2018-12-19 02:36] Eloston commented on #362
Good to hear. @ik9999 Does your memory usage still grow?

[2018-12-19 02:48] marksolaris commented on #636
Generating a new timestamp upon compiling and creation of the packages would be much more useful to anyone trying to do forensics on what's in the filesystem. Currently installing new files with the 29th July date makes you think the new code didn't work and something broke. I'm assuming the date gets sent to the deb creation logic. If it's possible to turn off setting hard coded dates entirely th

[2018-12-19 03:03] marksolaris commented on #634
Mostly I'm trying to make the experience less obtuse, so getting from wanting the software functionality to being able to install and run it is less of a google-fu test and more of a HOWTO recipe. I've recently switched from Redhat systems to Debian systems so have a new build eco-system to learn. Before that I've compiled 1000's of packages in other OS's and am quite fond of the old faithful `mak

[2018-12-19 09:17] leso-kn commented on #160
@Eloston I don't think there's any real privacy issue :) Service discovery could only be a privacy issue if information about discovered devices is sent somewhere, which it of cause wouldn't be in case of ungoogled-chromium.

Enabling the features would i guess bring back chromecast functionality, as, as far as i can see, all other components required for it to work are present

[2018-12-19 10:03] ian-moone commented on #160
_Chromecast is made specifically to be an open device that can be easily be used by anyone on the network. Hence ... No privacy_

👉 https://www.reddit.com/r/Chromecast/comments/79bk34/i_know_pretty_much_nothing_about_chromecasts/dp0nsot/

[2018-12-19 10:06] leso-kn commented on #160
Yes, but that goes for the receiver only. The sender only sends an mDNS request and connects to found devices via websockets to provide the cast functionality. I don't concider this a privacy issue

[2018-12-19 13:53] AlexIsNice commented on #637
Well,the folders mentioned no longer exist.

[2018-12-19 13:53] AlexIsNice commented on #637
Well,the folders mentioned no longer exist.

[2018-12-19 20:51] Eloston commented on #160
If I'm not mistaken, mDNS or Service Discovery sends broadcast packets. This is not acceptable for users who don't use these services and don't want traffic to leak out. Perhaps a flag could block these broadcasts?

[2018-12-19 20:58] Eloston commented on #530
Sorry, I didn't make it very clear in my previous comment. There are scripts in the Chromium source code to create a sysroot environment of Debian using Debian's repositories. You would need to use these scripts to create an i386 sysroot environment, and configure the Chromium build to use it. In addition, you'll also need to set `target_cpu` to x86 as well.

I don't know how the sysroot creation

[2018-12-19 21:03] yikjin opened #639 "Build fails on Windows 10"
### Description

Build fails on Windows 10 with error `subprocess.CalledProcessError: Command [...] returned non-zero exit status 1`. Similar to #582. Issue was supposedly solved in #475.

### Console output and logs

Full console output available [here](https://pastebin.com/LkiVwFBs).

[code]

### Environment details

* ungoogled-chromium version: `71.0.3578.98-2`
* Configuration bundle: `windows

[2018-12-19 22:55] Eloston opened #640 "Determining the future of ungoogled-chromium"
This is an issue I've been thinking about lately. Your feedback will be greatly appreciated!

## The issue of uncertainty

**I don't know what ungoogled-chromium should become. This is a major issue.** If ungoogled-chromium is to continue growing, there must be a clear objective. To help you gain a better understanding of this issue, let me describe why ungoogled-chromium's objective is not clear.

[2018-12-19 22:58] Eloston commented on #637
The instructions are probably out-of-date. Can any macOS users provide feedback here?

[2018-12-19 23:33] zeptoSteve commented on #637
I'm not 100% sure which file to be looking for, so I attempted to list them all in that directory.

[code]

[2018-12-19 23:43] zeptoSteve commented on #637
tip:
`{Google Chrome,Chromium}.app/Contents/Versions/70.0.3538.110/Chromium Framework.framework/Libraries -> Versions/Current/Libraries`; instead of the version number, just do "Current".

Also:
[code]

[2018-12-19 23:48] qvint commented on #640
I think it would be great to separate "actual ungoogling" patches/GN-args from all others. For example, [`safe_browsing_mode`](https://github.com/Eloston/ungoogled-chromium/blob/5ff2241f80968d775e0f4258ca7381dd1f4702a0/config_bundles/common/gn_flags.map#L30) is clearly related to privacy, while [`is_clang`](https://github.com/Eloston/ungoogled-chromium/blob/5ff2241f80968d775e0f4258ca7381dd1f4702a0

[2018-12-20 00:10] leso-kn commented on #160
That's a good idea! Do you think there's a way to sort of switch the no-mDNS patch on and off via a command line arg or config flag?

[2018-12-20 00:45] Eloston commented on #160
It will probably be too difficult ot switch the entire patch on and off since the patch assumes the GN flag is always off. The easiest place to implement this toggle may be for the code that sends the broadcast packet. But I'd prefer to have the toggle at a higher level, such as for the code that loads mDNS or Service Discovery facilities, if possible.

[2018-12-20 01:00] leso-kn commented on #160
Arround Christmas i might actually find time to have a look at the code. I'll try to figure out a useful place for the switch to put at.
Unfortunately i didn't manage to compile chromium myself, i tried jt serval times.
Maybe you could release a test build with mDNS enabled to see if enabling it is already sufficient for chromecast?
I'd be up for testing it, my television supports chromecast

[2018-12-20 03:42] Eloston commented on #640
In theory, I agree with you. However, I don't think the distinction is so clear in practice. For example, consider binary pruning. While one can argue that it is a measure to remove all binaries from Google (thus ungoogling), it also affects the build process. There is a similar situation with domain substitution; sure, it disables all background service URLs in the Chromium code, but it also brea

[2018-12-20 05:36] azdps commented on #640
I would prefer ungoogled-chromium to remain as is and not a separate distribution. Branching too far from chromium would be a huge nightmare for updating security issues etc. Patching and pruning chromium code would probably be best. I think the difficult part is to make sure the build process works properly for each operating system. Also determine which operating systems will be supported. I wou

[2018-12-20 06:52] Eloston commented on #160
Sounds good. Feel free to submit a PR whenever you are ready.

What platform do you use?

[2018-12-20 09:30] qvint commented on #640
These args have nothing to do with "ungoogling" and should be left to concrete distros. For example, in Fedora repository, proprietary codecs must be disabled due to US laws, but in RPM Fusion they are allowed. You can split this git repo to `ungoogled-chromium`, [`ungoogled-chromium-debian`](https://github.com/ungoogled-software/ungoogled-chromium-debian), [`ungoogled-chromium-gentoo`](https://gi

[2018-12-20 10:52] anchev commented on #530
Thanks for clarifying.

Are [these](https://chromium.googlesource.com/chromium/src/+/lkgr/build/linux/sysroot_scripts) the scripts you are you are talking about?

[2018-12-20 12:19] swedebugia opened #641 "Build fails on parabola x86_64"
### Description
Cloned today on commit 5ff2241f80968d775e0f4258ca7381dd1f4702a0 that is tagged.

### Console output and logs

  -> Applying domain substitution
2018-12-20 12:40:00,673 - DEBUG: Initialized logger 'buildkit'
2018-12-20 12:40:00,673 - INFO: Path has no substitutions: chrome/browser/plugins/plugins_resource_service.cc
2018-12-20 12:40:01,023 - INFO: Path has no substitutions: chrome/b

[2018-12-20 12:19] swedebugia commented on #641
ccache was used and this was not the first attempt to build (deleted src/ in between)

[2018-12-20 12:44] ik9999 commented on #362
@Eloston Installed v71 using [your deb binaries[](https://ungoogled-software.github.io/ungoogled-chromium-binaries/releases/debian/stretch_amd64/71.0.3578.98-1). Running it for like 24 hours. Memory grew from 300mb to 800mb. Maybe it happens because i have many extensions/long-running tabs. Will wait for few more days, maybe it will stop growing.

[2018-12-20 13:59] leso-kn commented on #160
Short answer: Linux

Long answer: My main machine is currently still on Ubuntu 16.04. But any debian compatible package is fine, i guess for testing i'd prefer the linux portable build

[2018-12-20 14:01] leso-kn commented on #160
And sure! I'll submit a PR with a patch file if i get this far :)

[2018-12-20 14:38] riyad commented on #632
Me neither, but the warning at the top of the ungoogled-chromium downloads page sparked my interest. Once I had the build process somewhat automated I just tried to poke around diffing two of my builds out of curiosity. I was surprised by the outcome to be honest. I was even more surprised when comparing my build against yours. :slightly_smiling_face:

I had watched a few talks about the reproduci

[2018-12-20 16:30] black-ish commented on #640
So first I'm no dev, so my point of view will come from a pure windows "user/consumer" perspektive here.

Imo unggogle-chromium is how that piece of software should have been from the start, any and all dependecies from web services (google etc.) should not exists it should be a "pure" browser and mostly get security updates and some "nice" new features that don't exist but are useful for a practi

[2018-12-20 16:45] antonin-lebrard commented on #625
For a tempory fix for your case (that is nor a really a beautiful trick to do, neither beautiful to see in practice):

You can create a `.bat` file that start `chrome.exe` with all the command line flags you want, then:

(from: https://superuser.com/questions/100249/how-to-pin-either-a-shortcut-or-a-batch-file-to-the-new-windows-7-8-and-10-task)

And I think you can find a way to change the icon o

[2018-12-20 23:48] Eloston commented on #640
Just a heads up anyone who has read the post: to everyone who has already read the post: I have made a few clarifications, namely how my personal "requirements" affect ungoogled-chromium (they're actually preferences I use when the ungoogled-chromium goals are not clear). I have also expanded on the "What should ungoogled-chromium be?" section to clarify what particular issues I am having.

To tho

[2018-12-21 00:01] Eloston commented on #530
Yes, specifically the `sysroot-creator*` scripts. [There is a little bit of documentation in Chromium's docs/linux_sysroot.md](https://chromium.googlesource.com/chromium/src/+/lkgr/docs/linux_sysroot.md)

[2018-12-21 11:09] Eddi2015 commented on #640
Personally I'm using UC on Manjaro Linux as a daily driver. I really like it how it is at the moment, so there are just some things I'd like to see in the future:

- merging useful privacy / security patches (especially fingerprint deception and stopping google connections) from other Browsers (e.g. Brave)
- making packaging as dynamic as possible, so that you can easily choose wheter you just wan

[2018-12-21 11:50] azdps commented on #640
I'm not leaning towards separate projects. **Just separate patches for each OS distribution**. I prefer not to see patches from one distro affecting another distro build process.

I like the direction you are going with with the project. I do think the project lacks OS patch maintainers. Unfortunately, I don't have the coding knowledge to fix the Windows safe browsing patches.

[2018-12-23 03:10] jlj2 commented on #640
To be able to meet points 2 & 3 ("I want ungoogled-chromium to be software that I'd like to use" and "I want ungoogled-chromium to grow. Clearly, the people that use my browser are not all like me. So to attract more users, I have to keep evolving ungoogled-chromium and myself"), maybe there could be two browsers:-
1.  A base browser ('ungoogled-chromium'?), which just provides source and, say, a

[2018-12-23 09:44] AlexIsNice commented on #637
Alright i apologize.Closing this issue.

[2018-12-23 09:44] #637 closed

[2018-12-23 10:04] Peacock365 commented on #640
I think Ungoogled-Chromium is fine as it is. All I (and I suppose many others) want is a Chrome / Chromium variant with as much Google stripped out as possible. If I wanted more features or a different UI I'd choose Vivaldi or Brave.

As Microsoft has announced to switch to the Blink rendering engine in Edge, the dominance of Blink has grown stronger. I also use Firefox (and derivatives), as I lik

[2018-12-23 11:53] siric1 commented on #640
With the entire industry favoring chromium based browsers, I wouldn't mind seeing a "new" browser based on ungoogled-chromium. A purified chromium. Chromium Pure?

This project in it's current state is ideal for developers who know how to use build tools. However, it isn't gaining as much traction as we'd all like to see because there are no pre-built binaries and no auto-updates, so it makes it h

[2018-12-23 14:33] azdps commented on #640
Brave - Suppose to be working towards pay to browse. No way.
Vivaldi - Closed source. Not fond of the GUI.
**Iridium** - I currently use this. Seems to have the same goals as ungoogled-chromium.

[2018-12-23 16:59] mowanotm commented on #640
I'm not an active user of ungoogled-chromium, please take my opinion with a grain of salt.

ungoogled-chromium means two things to me, Lightweight and Up-to-date (in terms of security and compatibility).
I use ungoogled-chromium as a supplement for my main Firefox, as a compatibility reference, a quarantined WebGUI, a host for fishy chrome extensions and a backup browser when system under load.
Ad

[2018-12-24 03:02] caada commented on #640
you have 2 options:

ungoogled-chrome, garble the places chrome phones home. this was the original intention of ungoogled-chrome.  I personally prefer ungoogled-chrome stays like this. this is a simple approach; modifications will be fast, won't break the code, so everyone can compile. we can have fast updates. we are aware that when we use google services, we are subject to tracking.

lite-chrome

[2018-12-24 10:54] tvaleev commented on #589
Right! Push Notifications used GCM service for client notification.For example user get unique ID for future notifications.  In chrome/browser/push_messaging is located Push notifications implementation. Impossible to have client Push API notification without cloud services by Google (or Mozilla in case of Firefox browser).
By the way, currently they migrate to FCM.

[2018-12-24 11:34] ik9999 commented on #640
@Eloston, you are doing 90%+ work on this project for free, so if you will choose to extend the scope of this project, which will require even more of your time, consider accepting some kind of donations.

[2018-12-24 13:51] xsmile commented on #640
Keeping the key features as a requirement, maybe with the addition of patches from the borrowed features, and marking the enhancing features as optional might be an alternative. That way you can have a clear definition of the project without dropping some interesting patches not directly related to the core idea. For example, I don't want to miss the recent HTTPS patch, although I do not consider

[2018-12-25 00:59] #594 closed

[2018-12-25 02:07] #588 closed

[2018-12-25 12:02] xsmile commented on #641
`subprocess.call([bisonExe, '-d', '-p', prefix, inputFile, '-o', outputCpp])` and `OSError: [Errno 2] No such file or directory` likely indicate that `bison` is not installed. As Parabola is based on Arch Linux, you need to install the `base-devel` package group.

You can also use the AUR package `ungoogled-chromium`.

[2018-12-25 17:20] swedebugia commented on #641
Thanks a bunch! I will add bison to the PKGBUILD and try again :)
The AUR-packages are all broken/old (tried all Inox- and ungoogled-packages).

[2018-12-26 05:01] MalevolentGrin commented on #640
https://github.com/Eloston/ungoogled-chromium/issues/640

Take the project in a Pro Privacy direction?  From Human Dignity is derived one's (negative) rights to privacy.  Everyone has something to keep secret: one's private thoughts [individualism], and one's intimate self (which cannot be taken, but only given freely).

https://github.com/privacytoolsIO/privacytools.io/issues/274#issuecomment-391

[2018-12-26 08:33] v00v opened #642 "Project Name?"
Can we have a new project name for this? "ungoogled-chromium" really? I mean who uses google anymore when using privacy browser like this? LOL This project deserves a new name :-) I used to use "Inox" for example, but its no longer updated.

[2018-12-26 08:34] v00v opened #643 "Are All Inox Patches Used In This Project?"
By the looks of it in repo, I see all of the patches. But I would like to confirm before switching over. Thank you!

[2018-12-26 09:41] swedebugia commented on #641
It helped installing bison and it compiled all night until this:
Any ideas?

[15366/17722] CXX obj/content/browser/browser/browser_jumbo_7.o
FAILED: obj/content/browser/browser/browser_jumbo_7.o
clang++ -MMD -MF obj/content/browser/browser/browser_jumbo_7.o.d -DENABLE_SCREEN_CAPTURE=1 -DV8_DEPRECATION_WARNINGS -DUSE_UDEV -DUSE_AURA=1 -DUSE_GLIB=1 -DUSE_NSS_CERTS=1 -DUSE_X11=1 -DNO_TCMALLOC -DOFFIC

[2018-12-26 12:50] picsi commented on #640
I'm okay with things as they are, but as others have said, the pre-built binaries and auto-updates would be the only thing I'm still missing from this project. That's about it.

[2018-12-26 16:02] tzekid opened #644 "Build fails on Arch Linux"
### Description

Tried installing the project from both the AUR and the tar.gz on the releases page and it failed in the same way in both cases.

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 71.0.3578.98-2
* Configuration bundle: ungoogled-chromium aur package
* Packaging type (if applicable): ungoogled-chromium aur package
* OS and version for buildi

[2018-12-26 20:42] Eloston commented on #589
Alright, then I will close this as wontfix for now. The main concerns here are any privacy and security, especially if there is any proactive background communication with Google. If there is a way to implement Cloud Messaging while addressing these concerns, I'll be open to it.

[2018-12-26 21:51] #589 closed

[2018-12-26 21:53] Eloston commented on #643
Yes, they're all there except for patches used to change the branding.

[2018-12-26 21:53] #643 closed

[2018-12-26 22:00] Eloston commented on #615
No problem. Thanks for letting me know anyway.

[2018-12-26 22:00] #615 closed

[2018-12-26 22:11] Eloston commented on #642
Do you have any suggestions?

[2018-12-27 00:19] fosslinux commented on #640
+1

I am a huge fan of FOSS and on all my computers require a FOSS-only system. I think these two features (binary pruning and domain substitution) are vital to ungoogled chromium.

Same. I think all of these should be enabled by default (I can't remember if they are).

I **never** want this to be the case. With this dependence, air gapped systems are basically rendered useless.

No. As I said, th

[2018-12-27 00:31] fosslinux opened #645 "Debian Sid InitalizeSandbox fault"
**Describe the bug**
When launching ungoogled chromium on Debian Sid fully updated:

**To Reproduce**
Steps to reproduce the behavior:
1. Build ungoogled chromium using the debian-minimal target as building.md states you should use on Debian Sid using LLVM 8 as building.md states.
2. Install ungoogled chromium.
3. Run `chromium`.
4. Get something like:

    [19256:19256:1227/112524.089289:ERROR:sa

[2018-12-27 11:48] xsmile commented on #641
This might be a memory issue. You can try using a swap file during the compilation process.

[2018-12-27 13:12] arturkomoter commented on #623
After running this script, Chromium still can't tell that it is the default browser. What to do?

[2018-12-27 14:20] englishextra commented on #623
it wont tell you anything please read the issue in the first post

[2018-12-27 17:37] dumblob opened #646 "Option to disable Mark of the Web (MOTW)"
**Is your feature request related to a problem? Please describe.**
Well, I'm (overly :wink:) concerned about potential information leaks and do not like [MOTW (Mark of the Web)](https://msdn.microsoft.com/zh-tw/windows/desktop/ms537628 ) being saved (permanently persisted) every time one downloads a file/web_page/anything (on my Linux system it uses [xattr](https://en.wikipedia.org/wiki/Extended_f

[2018-12-28 16:19] leso-kn commented on #160
Alright, merry chistmas afterwards!

Today i had a look at the concerning code. I went for a very basic approach now, wrapping all mDNS and service discovery related code into if conditions, that i control via a flag.

Please note, that as i mentioned earlier i didn't have the opportunity to test the changes myself. Thus i will not commit a PR yet, but attached to this post you'll find a concernin

[2018-12-28 18:47] laptopsftw opened #647 "request: documentation addition"
in addition, i would like to request to add a description here, that also, when build.py failed while downloading, delete the download_cache.

[2018-12-28 21:04] swedebugia commented on #641
I had 4 gb mem and 4 gb swap. Will try increase to 12 in total..

[2018-12-29 05:00] intika commented on #556
i was a little busy with [Librefox](https://github.com/intika/Librefox) i will see what i can do ;)

[2018-12-29 06:21] intika opened #648 "[User discussion] Interviewing a success project owner (Eloston/ungoogled-chromium)"
@Eloston

As always thank you for your amazing hard work in this project it one of a kind :) I would like to ask you some advice for my little young project [Librefox](https://github.com/intika/Librefox)

1. What do you think made ungoogled-chromium successful ?
2. Regarding the stargazers and [star-track](https://seladb.github.io/StarTrack-js/) (see capture bellow) i see that you gained over 2000

[2018-12-29 06:31] intika commented on #648
For the stars thins i guess i have the answer the first boom is from a [reddit](https://www.reddit.com/r/linux/comments/54fbpo/ungoogledchromium_a_chromium_variant_for_removing/) post and [lifehacker](https://lifehacker.com/ungoogled-chromium-strips-away-the-privacy-invading-fea-1787139870) article, the second one i think its me joining the team hahhaha just kidding i have no clue for the second o

[2018-12-29 07:01] intika commented on #648
Also one thing, a lot of people asked me about mozilla trademark (Firefox) while i was disturbing a patched version it's curious that uc did not face this problem, i guess google folks are more permissive.

[2018-12-29 08:31] intika commented on #640
Very interesting topic ! keep it clear and simple right?! :) here are my comments :

- Feedback in here could represent a minority (this should be took in consideration)

- UC is mainly fine as it is this is what made it successful so careful on drastic changes (you already have an opinion/feedback from [reddit](https://www.reddit.com/r/linux/comments/54fbpo/ungoogledchromium_a_chromium_variant_fo

[2018-12-29 15:10] intika commented on #556
i am building portable with sysroots right now... the build script needs some adjustment... i will PR if everything went ok

[2018-12-29 18:31] intika commented on #556
Done https://github.com/Eloston/ungoogled-chromium/pull/649/

[2018-12-29 19:08] Eloston commented on #642
Thanks for the suggestions @intika. I will discuss my decision in #640.

Closing this issue as invalid because it's not constructive.

[2018-12-29 19:08] #642 closed

[2018-12-29 19:10] Eloston commented on #436
@intika Would you be able to submit a PR for this to the User Resources page on the Wiki? Thanks.

[2018-12-29 20:11] #647 closed

[2018-12-29 21:17] Eloston commented on #648
"Success" is a pretty broad term. I will assume you define "success" based on the number of users, what users say about the project, and the kinds of bug reports this project receives. In that case, there are several points I can note (in no particular order of importance):

* **Continual desire to improve the project and oneself. I think this is the most important point.** I mainly gather ideas b

[2018-12-29 21:17] #648 closed

[2018-12-29 21:50] Eloston commented on #160
Thanks for writing a patch @leso-kn. Several comments/questions:

1. Does the flag toggle broadcasts in #436? If I'm not mistaken, these broadcasts are related to the features being enabled/disabled by this flag.
2. I'm not too familiar with the code in this area. How is `DnsSdDeviceLister` used in Chromium? How will Chromium's behavior change with the flag toggled on and off? (Specific files woul

[2018-12-30 00:50] intika commented on #648
@Eloston Thank you very much for taking the time to give me your feedback, it's really appreciated :+1:

[2018-12-30 01:01] Eloston commented on #160
Will it only bring it back if the flag is enabled?

Yes, but the patch should address any other code changes that result from changing the GN flags for mDNS and Service Discovery back to their default values (i.e. enabled).

If the flag is *disabled*, broadcasts are not acceptable for more cautious users, such as those who want to harden their system. It is not about the payload of the broadcast;

[2018-12-30 01:55] intika commented on #436
Done https://github.com/ungoogled-software/ungoogled-chromium-wiki/pull/3

[2018-12-30 05:19] Eloston opened #651 "The "fragmentation" refactor"
This is a refactor of ungoogled-chromium as a result of #640. Development will occur in the "fragmentation" branch and new branches of other repos. **The refactor will not affect regular development until it is ready to be used.**

Essentially, this refactor is the separation of platform-specific code into individual repositories under the [ungoogled-software organization](//github.com/ungoogled-s

[2018-12-30 05:36] Eloston commented on #640
Thank you all for your responses. After considering your perspectives and my own motivations for this project and beyond, I have decided to opt for a mixture of the proposed solutions. ungoogled-chromium's name will remain (for now) and so will its effective goals (which will be clarified in the new README). However, I will more cleanly separate "core" features that remove Google integration from

[2018-12-30 05:36] #640 closed

[2018-12-30 22:01] leso-kn commented on #160
Yes, as discovery can only be done if the flag is enabled

Oh! I think there was a missunderstanding from my side. I didn't know there's also GN flags, sorry about that! Of cause we'll have to include those in the patch and check whether it enables any unwanted behaviour.

okay. Then we'll have to make sure there's really no broadcasting if the flag's disabled. I think the easiest solution may be

[2018-12-30 22:07] leso-kn commented on #160
Facing the future of this issue: Do you want me to write a propper patch, or would you prefer writing the final version yourself?

As i said, it's only been a little time arround christmas and work will start again soon, so it may take me some time till i can continue (in a more propper way than before, sorry about all those small mistakes).

I'd still be up for sitting down at some point, checkin

[2018-12-31 21:00] hydrogenpi commented on #639
can someone create an OVA for the windows 64bit build of latest version 71.x and upload it?

[2018-12-31 21:03] Eloston commented on #160
If I write this patch, it will not help ungoogled-chromium, its contributors, or myself significantly in the long-term. I'd rather spend time on contributors like yourself, and ensuring we can reach a satisfactory solution.

I am in no rush to complete this feature. You can take as much time as you need.

[2018-12-31 23:47] haykam821 opened #653 "Link to clear browser data page when max redirects error page suggests to do so"
## The Problem

In the max redirects error page, there is [an ungoogled link](https://support.9oo91e.qjz9zk/chrome?p=rl_error&hl=en-US), with the text, "Try clearing your cookies."

![Max redirects error page](https://user-images.githubusercontent.com/24855774/50569104-11ced300-0d2c-11e9-80a3-54fe01d99a78.png)

## Proposed Solution

I would prefer this link to actually work (although it's not nece

[2019-01-01 01:18] Eloston commented on #653
Thanks for reporting. Going to close this as a duplicate of #605 and make that issue cover this one.

[2019-01-01 01:18] #653 closed

[2019-01-02 10:35] #559 closed

[2019-01-02 13:30] arturkomoter commented on #639
@hydrogenpi It's failing

[2019-01-04 14:38] pwindle commented on #134
The current chrome version from the user agent string:
`/Chrome\/([0-9.]+)/.exec(navigator.userAgent)[1]`

Hopefully with that we can make get something working that doesn't need updating so often. Here's some stuff:

### Bookmarklet
Save the following line of code as a bookmark and click it from any extension details page on chrome web store to download its crx. I prefer this solution to adding a

[2019-01-04 17:58] wokawoka opened #654 "[question] list of substituted domains"
Not really a program issue, but s there a way to get a list of all the google domains that has been replaced by the dummy ones (other than going manually through the code, I suppose)?
I believe that It would be very useful to many.
Thanks again for this great project

[2019-01-04 18:29] arichiardi opened #655 "Getting a CERTIFICATE_VERIFY_FAILED in setup-local-src"
### Description

I am launching: `./debian/rules setup-local-src` and I get an exception:

[code]

It seems like a problem upstream really.

### Environment details

* ungoogled-chromium version: 71.0.3578.98-
* Configuration bundle: `linux`
* Packaging type (if applicable): `ubuntu_bionic`
* OS and version for building: Ubuntu 18.04
* Compiler toolchain: LLVM 7

### Building and packaging steps

[2019-01-05 05:54] vonagam commented on #134
Thanks, updated gist of the script with same changes.

(You have typo in gist in url template: instead of `[EXTENSION_ID]` there is `[EXTENSIONID]`)

[2019-01-05 22:10] Sk1pp3r opened #656 "Update Latest Release version number"
It seems that chocolatey library https://chocolatey.org/packages/ungoogled-chromium remained at version 67.0.3396.87003, which is marked as latest release now.

https://github.com/Eloston/ungoogled-chromium/releases?after=69.0.3497.92-2

Could you update the Latest Release version number? Thanks.

[2019-01-06 09:51] intika commented on #651
I will add "Clean issues.." 57 are open and almost haft of then should be closed... just to keep things organized and avoid wasting time ;)

[2019-01-10 01:40] Eloston commented on #656
I don't use GitHub Releases anymore because it's extra manual work with little to no gain. In addition, the refactor (#651) will cease the use of tags on this repository; all tags will be made on the repositories for the individual platforms.

[2019-01-10 01:40] #656 closed

[2019-01-10 01:43] Eloston commented on #655
Are you using Python 3 provided from Ubuntu? If you're not, it's possible it's not accessing all the root certificates on your system.

[2019-01-10 01:46] Eloston commented on #654
In https://github.com/Eloston/ungoogled-chromium/blob/47c6164c3b2c4a84ff54d90893ab5b650e9838cb/docs/design.md#source-file-processors

So the file mentioned would be here: https://github.com/Eloston/ungoogled-chromium/blob/47c6164c3b2c4a84ff54d90893ab5b650e9838cb/config_bundles/common/domain_regex.list

(FYI, this will be moved to the root of the repository in the refactor).

[2019-01-10 01:46] #654 closed

[2019-01-10 01:58] arichiardi commented on #655
Well yes I should be using. Will double check but I thought for a moment the cert was expired for real, would that be possible?

[2019-01-10 02:17] Eloston commented on #655
Could be possible, not very likely. Google probably refreshes their certs before they expire.

[2019-01-10 02:22] Eloston commented on #640
@csagan5

You're right, but it's hard for me to decide on a good name. I'm not sure how I would let others submit feedback and vote on names either. Also, I need the name to be decent enough since it takes work to change the name. So, I have been leaving the name alone since no one's had any large issues with it yet.

This isn't an issue under the current system. Nowadays, I spend most of the time

[2019-01-11 06:35] zchlm commented on #612
I'm running into the same error on Ubuntu Cosmic. Using the Contributor Binary 71.0.3578.98-2. I'll attempt building from source.

[2019-01-11 19:42] caspertone2003 opened #657 "Up to date windows compilation"
@Wyse-

Could you generate an updated version please?
https://ungoogled-software.github.io/ungoogled-chromium-binaries/releases/windows/64bit/

[2019-01-12 17:32] caspertone2003 commented on #657
@leo-liar
Thanks very much, precious resource that link you gave!
@Eloston
Perhaps would be good to add compilation to https://ungoogled-software.github.io/ungoogled-chromium-binaries/releases/windows/64bit/
Thanks again
CT

[2019-01-12 18:31] Eloston commented on #612
@zchlm Thanks for letting me know. Reopening.

[2019-01-12 18:35] Eloston commented on #657
I can't accept that binary because it re-enables the Safe Browsing component. That weakens the removal of Google service integration in ungoogled-chromium.

[2019-01-12 18:35] #657 closed

[2019-01-12 18:36] Eloston commented on #657
Also, Windows support has not been fully fixed yet, which is why no new binary has been published.

[2019-01-12 18:40] Eloston commented on #624
@englishextra As much as I would like to make every user happy, I just don't have enough interest or the time to do so. Even if I had a Windows development environment ready to go, it's not insignificant to fix Windows support.

If you know people that could fix Windows support, that would be great.

[2019-01-13 10:48] caspertone2003 commented on #657
@Eloston
Thanks for the explanation. Difficult topics to understand for a layman...
So I will wait.
CT

[2019-01-13 12:06] wokawoka commented on #654
Great, many thanks for the information and (please) keep up with the great work!

[2019-01-13 15:26] neilpanchal opened #658 "Provide official binaries for Windows?"
I just discovered this project and love the idea of vanilla chromium sans Google. If the manifesto of the project is to spearhead privacy, not providing official tamper-free binaries (for Windows) is absolutely crucial and not doing so is a huge hole in the vision of this project. Is there a reason why this project relies on contributor binaries? Perhaps lack of resources? I am not familiar with t

[2019-01-15 09:45] leo-liar commented on #658
You can grab an up-to-date one frome [here][1], **but please take a look at #657 beforehand!**
- [ungoogled-chromium-71.0.3578.98-1_windows.7z][2]

[1]: https://chromium.woolyss.com/#win64-stable-ungoogled "Download latest stable Chromium binaries (64-bit and 32-bit)"
[2]: https://github.com/macchrome/winchrome/releases/download/v71.0.3578.98-r599034-Win64/ungoogled-chromium-71.0.3578.98-1_windows

[2019-01-16 17:50] Eloston commented on #658
What would you constitute to be "official"? Being "official" requires there to be an authorative and trustworthy source, which no one person or party here can provide. Trust is hard to establish when everyone here is generally anonymous and unknown.

The closest we can get to "official" binaries is reproducible builds; i.e. having anyone be able to produce the same exact binaries from a given sour

[2019-01-16 17:50] #658 closed

[2019-01-16 22:37] csagan5 commented on #646
The relative code (for Linux) is here: https://cs.chromium.org/chromium/src/components/download/quarantine/quarantine_linux.cc?q=kSourceURLExtendedAttrName&dr=C&l=48

Although the function is called `QuarantineFile`, it seems always called on downloads.

[2019-01-17 17:55] Eloston commented on #646
@csagan5 Thanks for the info.

@dumblob The entire quarantine component should have been disabled via [disable-download-quarantine.patch](https://github.com/Eloston/ungoogled-chromium/blob/6367aaffa4a4537b96a1ef689e9aeb6d38f993b6/patches/ungoogled-chromium/disable-download-quarantine.patch) since at least 2016. Do you still have the MOTW with ungoogled-chromium?

[2019-01-18 02:47] intika commented on #362
Nice growth you should invest some finance in there hahahaha
The line is days or hours ?
was the browser just open or used ?

[2019-01-18 11:33] ik9999 commented on #362
@intika

Days.

Opened and used.

[2019-01-18 11:35] intika commented on #362
hard to debug when the browser is used but i think this affect upstream as well

[2019-01-18 11:36] ik9999 commented on #362
I dont feel like usage makes it grow more. I've used it a lot in last 2 days, but memory almost stopped growing.

[2019-01-18 18:52] k2l8m11n2 opened #659 "Change chrome://version branding"
**Is your feature request related to a problem? Please describe.**
Right now `chrome://version` says `(Official Build)`, that's kind of confusing.

**Describe the solution you'd like**
Change it to something like `(Ungoogled Build)`.

![How it looks right now.](https://user-images.githubusercontent.com/15859761/51406831-8aba9100-1b5a-11e9-85a0-606b5df21c77.png)

[2019-01-19 14:07] ahmedflix25 commented on #639
same error

[2019-01-20 11:46] miklide commented on #134
Bookmarklet does not seem to work for me. When I press it, nothing happens:

![](https://media.giphy.com/media/2tMv5sbwmanTuTOooh/giphy.gif)
ungoogled chromium windows x64  v67.0.3396.87

[2019-01-20 13:40] pwindle commented on #134
@miklide You're right. I had an extra bracket at the end. Oops! Remove the last bracket or copy this:
[code]

[2019-01-21 10:32] naymapl opened #660 "Didn`t save password and cookies"
*IMPORTANT: Please ensure you have read SUPPORT.md before continuing*

Hi. I try to find any solusion on github but can`t find any simillar issue. I want to use ungoogled chromium everyday and want to save password on websites and keep session cookie. But when I restart browser i need to login again to evry single page.
I switch off option "Keep local data only until you close your browser" and se

[2019-01-22 10:18] naymapl commented on #660
Hey.
I sorted this issue myself. It was strange but after reinstall ungoogled-chromium and reboot my mac its start runing well. Hope so forever ;) Thanks a lot.

[2019-01-22 10:18] #660 closed

[2019-01-24 01:27] twolf35 opened #661 "build.py: error: Could not detect Python 2 version from output:"
### Description

I am trying to run build.py and run into the above issue.

### Console output and logs

Python 3.6.6
usage: build.py [-h] [--downloads-cache PATH] [--disable-ssl-verification]
                [--7z-path SEVENZ_PATH]
build.py: error: Could not detect Python 2 version from output:

### Environment details

* ungoogled-chromium version: 71.0.3578.98-2
Windows

*(If relevant, add othe

[2019-01-24 19:41] joey04 opened #662 "The future of content filtering"
This is both an FYI and some follow-on questions.

The FYI -- For those who haven't yet heard, Google is planning a severe reduction in extension capability for blockers and other content filters. Their current draft of changes includes deprecating the webRequest API and replacing it with declarativeNetRequest. This will only permit a fixed number of purely declaritive rules in a single json list.

[2019-01-24 21:35] Eloston commented on #362
If memory usage is not concerning so far, then I'll close this issue. Until (or unless) ungoogled-chromium formalizes development with better practices (i.e. running code testing and analysis tools that Google uses over the code), I don't see any point in digging deeper into memory usage; any attempt to do so could end up futile with updates and new features.

[2019-01-24 21:35] #362 closed

[2019-01-24 21:45] Eloston commented on #659
`Official Build` has a special meaning for Chromium builds, so I want to preserve that.

I don't want to change the branding of the browser, but perhaps we could insert a string like `(ungoogled-chromium)` to indicate that this is an ungoogled-chromium build.

[2019-01-24 21:52] Eloston commented on #662
@virtadpt asked something similar on Gitter:

My response:

[2019-01-25 23:56] joey04 commented on #662
I advise planning for this sooner rather than later. I have little hope that Google will make any serious concessions on this matter. (Folks can read the thread I linked to, the threads on Reddit, etc. to understand why.)

I have several points to cover in this post, but first a little about me since I'm new here.

I'm a Firefox guy who has never built a browser from source. I've been using Chrome

[2019-01-26 19:47] joey04 commented on #662
Nowhere. This is a preliminary exploratory time. There's no guarantee I will do anything on Chromium.

As I wrote yesterday, I've never built a browser. You have to understand that browsers are _massive_ codebases with millions of lines of code. And one very important item I didn't mention before is that I would be purchasing a new machine to do this work.

My current PC is a Windows 8.1 with hype

[2019-01-26 20:34] joey04 commented on #662
There's one more point I'd like to make. Please don't think I'm a Mozilla advocate here. That's not my intention. (Nor is it my intention to turn this thread into a blog.)

In fact, I don't like the Mozilla organization. Nor do I trust them to make good or even ethical decisions. But, as I've stated, its ESR browser is my best choice as primary right now.

I must state that my ESR setup is highly-

[2019-01-27 01:00] joey04 commented on #662
It just occurred to me, perhaps there's a way to do Chromium development without need of my own build machine.

Ideally, I could just pull the code here on GitHub and run a Travis build or something. But I don't know much about the particulars.

**Question**: Does anyone know if this is feasible? Or is there another online service I could use?

(I'd rather get a nice laptop for my next PC anyways.

[2019-01-28 23:43] TylerWolfDev opened #663 "Cannot build due to unmet dependencies (LLVM ERROR)"
I am trying to build on Ubuntu LTS. I have done everything but need to install LLVM but get the following errors while attempting.

[code]

[2019-01-29 03:32] hrj commented on #17
Regarding the financial and legal overhead of managing something like this:

I came across [OpenCollective](https://opencollective.com/) today, which might be suitable for this project. In a nut shell, they "host" a collective, which means they take care of the bank account and accounting hassle. People who incur costs for the collective can raise an invoice, and the collective's admin can approve

[2019-01-29 06:57] Eloston commented on #662
Thanks for describing in depth your problem and motivations. I believe I understand the situation better now.

We would all appreciate new feature development, even if it isn't immediately useful, or even if it doesn't end up useful at all. While I can't guarentee that I will personally contribute code, I would at least like to provide guidance and support for you and this feature.

It looks like

[2019-01-29 07:14] Eloston commented on #17
@hrj This is an interesting concept; thanks for sharing. However, I don't quite understand what value my approval has on this; what kind of responsibility would I incur as a result?

In addition, based on the article you linked, it seems that OpenCollective is targeted more towards funding developers rather than infrastructure itself. Are there similar cases to this on OpenCollective?

[2019-01-29 15:18] hrj commented on #17
@Eloston It is definitely useful for infrastructure. I have seen collectives which have invoices for `loomio` for example. Here's another collective that was started for paying hosting and domain costs: https://www.reddit.com/r/ponylang/comments/9nw2uy/pony_is_a_now_a_member_of_opencollective_looking/

About approval, I just meant informal approval, that is, confirmation that you don't mind someth

[2019-01-29 18:24] Eloston commented on #17
@hrj I looked into the GitHub permissions they use, and it seems they require a lot of permissions to work properly right now: https://github.com/opencollective/opencollective/issues/355

If we're going to use this, I'd rather we enable this on a mirror of this repository until the permissions are more reasonable. But, would this cause any major issues?

[2019-01-30 00:09] joey04 commented on #662
@Eloston thanks for your thoughtful reply. I appreciate your advice. In fact, I suggest adding it to your [developing doc](https://github.com/Eloston/ungoogled-chromium/blob/master/docs/developing.md).

I read several of the Chromium docs last week when I first looked into this. I was pleasantly surprised how helpful they are. It was a good first impression.

But, all things considered, I probably

[2019-02-02 14:57] davidhuff2014 opened #665 "/usr/bin/ld did not recognize --icf=all when building for ubuntu_bionic 72.0.3626.81"
Used the typical build process, when it died while running ninja. Remove the append from the BUILD.ng file and three short  named .py files which are not available after the compile completes. Sorry it was the last thing I did before going to bed. But the compile completed and I'm using it now. Thanks!

[2019-02-02 18:33] Eloston commented on #662
I'm not sure what your setup is like, but that sounds excessive. I have been using a laptop for all my recent builds; a Skylake i5 (dual core, hyper-threaded) with 16 GB of RAM. I can put the *entire* build tree on tmpfs (no swap), and it compiles in roughly 3-5 hours (time varies due to the particular build configuration I use). For my Debian builds, the entire build tree takes somewhere between

[2019-02-02 20:58] psilocibin commented on #665
`
[175/175] LINK gn
FAILED: gn
clang++-7 -Wl,--stats -Wl,--stats -O3 -fdata-sections -ffunction-sections -Wl,--gc-sections -Wl,-strip-all -Wl,--icf=all -Wl,--as-needed -o gn -Wl,--start-group tools/gn/gn_main.o base.a gn_lib.a -Wl,--end-group -ldl -lpthread -lnspr4 -levent
/usr/bin/ld: unrecognized option '--icf=all'
/usr/bin/ld: use the --help option for usage information
clang: error: linker com

[2019-02-02 21:03] davidhuff2014 commented on #665
Unfortunately clang-8 gave the same initial response. But now, looking at it again it appears it is ld that is having the problem not clang?

`cp base/numerics/safe_conversions_arm_impl.h base/numerics/safe_math_arm_impl.h tools/gn/base/numerics
./tools/gn/bootstrap/bootstrap.py --skip-generate-buildfiles -j4 -o out/Release/gn
ninja: Entering directory `/tmp/src/ungoogled-chromium-master/build/src

[2019-02-03 03:41] davidhuff2014 commented on #665
Setting use_lld=true in the gn_flags.map for ubuntu_bionic did not work for me.
Moving ld out of the way and copying ld64.lld-7 as ld,  did work.

[2019-02-03 06:56] gremilkar opened #666 "Problem with building in Mojave"
### Description
Error  occurred when I run:" ./get_package.py macos build/src/ungoogled_packaging"

### Console output and logs

### Environment details

* ungoogled-chromium version: [71.0.3578.98-2]
* Configuration bundle: [macos]
* Packaging type (if applicable): [macos]
* OS and version for building: [macOS Mojave 10.14.2]
* Compiler toolchain: [Xcode 10.1(10861)]

Python 2.7.13
### Building a

[2019-02-03 07:35] psilocibin commented on #665
installed lldb-7 and it works now

[2019-02-03 21:06] dryshirt opened #667 "Plans to introduce Chrome Sync (settings, extensions, bookmarks) functionality?"
Currently, one of the features that I use Chrome for is the cross-platform sync of browser-related items, such as extensions, settings, passwords, etc. In addition with user profiles, this feature is what makes Chrome indispensable: being able to separately manage profiles (and the related extensions, browser settings, etc.) without hassle makes my life a lot easier. Unfortunately, since the goal

[2019-02-04 00:58] spotlightishere commented on #666
Cannot reproduce, but instead of your Python 2.7.13, Python 3 should work. The script seems to want such as well.
https://github.com/Eloston/ungoogled-chromium/blob/c68b9f4916d6a34dc6c843a565bfd1ca08b9fe4c/get_package.py#L1

[2019-02-04 08:11] Tank-Missile commented on #667
This is where altnerative services come in. For bookmarks, you can use Floccus with a nextcloud instance or provider, or xBrowserSync. For passwords, you can sync a KeePassXC database using the nextcloud client along with the browser extension. As for syncing history and settings... Yeah I got nothing there at the moment.

[2019-02-05 00:13] gmt commented on #662
My old workstation is pretty darn slow (bulldozer) and largely built with -Og -ggdb3 which leads to high build-time memory demands.  Also maybe I'm exxagerating the numbers a little bit... definitely in that ballpark but I never measured scientifically.

Btw I've noticed for my chromium builds ccache always got huge "hit" percentages compared to other projects I've tried it with, when I activate i

[2019-02-05 09:38] bladeSk opened #668 "--disable-machine-id doesn't work with regular profiles and vice versa"
### Description

When creating a profile and then running chromium with `--disable-machine-id`, the profile gets destroyed. The same happens when you create a profile with `--disable-machine-id` and then run chromium without the option.

While this behavior may be intentional, it makes it impossible to migrate an already existing user data and the usefulness of this option is limited.

It would be

[2019-02-06 00:09] TCB13 commented on #639
Update:  `70.0.3538.110-3` fails differently:

[code]

[2019-02-06 13:46] arutr commented on #639
Apparently disabling the Safe Browsing patch seems to make the build work, according to [this](https://github.com/macchrome/winchrome/releases/tag/v72.0.3626.81-r612437-Win64).

[2019-02-06 17:32] TCB13 commented on #639
@arutr I'll try that solution, however if take a look at my log there are numerous patches that fail way before the one related to safe browsing.

[2019-02-06 22:43] TCB13 commented on #639
@arutr Disabling that patches seem to work, but I get the following toolchain error:

[code]

[2019-02-07 02:28] davidhuff2014 commented on #665
I too added lldb-7 but it didn't change the outcome. I tried setting the gn_flags.map and it too had the same outcome. There may be somewhere else where the flags can be set that I am not aware of. I agree it  is calling the wrong linker, copying ld64.lld-7 as ld did allow it to build. I was also able to build by patching out the --icf=all appends everywhere I could find them, was just hoping to m

[2019-02-08 23:33] TCB13 commented on #639
**Update**: I manage get around the errors above by reinstalling Python 3 and Python 2 and depot_tools from https://storage.googleapis.com/chrome-infra/depot_tools.zip (as explained here https://chromium.googlesource.com/chromium/src/+/64.0.3282.168/docs/windows_build_instructions.md#install).

After this I was able to proceed with the build until I hit...

[code]

[2019-02-09 10:00] LucasAnter opened #669 "Why ungoogled-chromium isn't regularly updated?"
Latest ungoogled-chromium release is [`71.0.3578.98-2`](https://github.com/Eloston/ungoogled-chromium/releases) while Chromium's latest release is `74.0.3701.0`. Isn ungoogled-chromium already insecure when there isn't latest security patches?

[2019-02-09 10:05] LucasAnter opened #670 "Is ungoogled-chromium-bin safe at the AUR?"
[ungoogled-chromium-bin](https://aur.archlinux.org/packages/ungoogled-chromium-bin/)

[2019-02-09 10:20] Tank-Missile commented on #669
The problem is this is a "hobbyist" project according to @Eloston, and people who do these types of projects tend to have other things going on in their lives. It all comes down to reporting issues, and awaiting responses. If it takes a month, so be it. If I had more knowledge on chromium's source code I would deffiently pitch in, but the most I can do right now is just report issues and wait. If

[2019-02-09 10:27] Tank-Missile commented on #670
I've been using it for the last several months with no issues. It seems there is an official build for Arch Linux, but the the AUR package doesn't appear to be using it yet. Right now it's downloading the binary from https://cloud.woelkli.com/. According to the user hosting it there, he says you just have to trust him. The best move at this point would be for the packager to change the source URL,

[2019-02-09 11:40] arutr commented on #669
If you look at browser version statistics, Chrome is currently at version 71, so UGC is up-to-date with the mainstream version.

[2019-02-09 15:13] pouledodue opened #672 "fails on macos/fix-gn-safe_browsing.patch"
### Description

`./ungoogled_packaging/build.sh` fails

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: chromium-72.0.3626.81.tar.xz
* Configuration bundle: macos
* Packaging type (if applicable): macos
* OS and version for building: Mojave
* Compiler toolchain: Xcode 10.0

*(If relevant, add other environment details here)*

### Building and packaging

[2019-02-09 17:17] davidhuff2014 opened #673 "Issues with video playback version 72.0.3626.81"
After a successful build I experienced sporadic issues with playing on-line videos. About half experienced tearing, the other half played well. Went back to the prior version 71 and retested the videos I had experience problems with and they worked fine. Ubuntu 18.04.1

[2019-02-09 21:21] k2l8m11n2 commented on #659
![image](https://user-images.githubusercontent.com/15859761/52526415-76306b00-2cb8-11e9-89a9-c2d4b3f0318c.png)
This is what it looks in a version I found for Fedora. (What's the difference between an Official Build and a Developer Build BTW?)

[2019-02-10 01:14] ian-moone commented on #659
It's related to the gn flag `is_official_build`:

[code]

👉 https://chromium.googlesource.com/chromium/src/+/72.0.3626.96/build/config/BUILDCONFIG.gn#125

[2019-02-11 18:00] Eloston commented on #669
ungoogled-chromium stays with the latest stable version of Chromium. At the time of writing, 72.0.3626.96 is the latest stable version, not 74.

If we had more manpower, then perhaps we could consider keeping up with more unstable versions of Chromium.

[2019-02-11 18:00] #669 closed

[2019-02-11 18:05] Eloston commented on #673
It may be related to VA-API decoding, since it changed in 72. What video driver are you using? What does `chrome://gpu` say about video decoding? Does toggling `chrome://flags/#disable-accelerated-video-decode` do anything?

[2019-02-11 18:08] Eloston commented on #672
Patches haven't been updated yet for macOS. This error is expected. You can see the status of patches in the validate_patches CI task in commits, [like this one](https://github.com/Eloston/ungoogled-chromium/runs/61780678).

[2019-02-11 18:08] #672 closed

[2019-02-11 18:12] Eloston commented on #670
If the Arch Linux build is [reproducible](https://reproducible-builds.org/), then we could see if others can build and verify. Otherwise, there's no good way to determine safety.

[2019-02-11 18:12] #670 closed

[2019-02-11 18:37] Eloston commented on #665
This may be related to GN flags. We are using the `unbundle` toolchain, which means we specify what tools to use for compiling. However, the `unbundle` toolchain [defers determination of the linker to the C++ compiler](https://chromium.googlesource.com/chromium/src/+/72.0.3626.96/build/toolchain/linux/unbundle/BUILD.gn#12), which means that Clang may not be selecting the right linker. We could try

[2019-02-11 18:41] Eloston commented on #668
This may be a side effect of the Chromium profile compatibility/integrity checking breaking when the machine ID changes. We need someone with more knowledge of this to fill us in.

[2019-02-11 18:54] Eloston commented on #667
It is possible to do this, but it won't be easy. The syncing code in Chromium is deeply tied with Google-specific services and specifications. We would need to define how we would want this syncing to work (as you implied at the end), and then investigate what we would need to do to implement it in the Chromium code. It will a large undertaking, to say the least.

If you don't use all three system

[2019-02-11 19:00] Eloston commented on #666
@spotlightishere is correct. It seems we didn't add this to the documentation for macOS. Python 3 is needed for `get_package.py`, and Python 2 is needed for Chromium build scripts. I will note this in the documentation.

[2019-02-11 19:07] arichiardi commented on #655
It looks like I have just discovered that I need this for `wget` in my ubuntu:

     wget --ca-directory /etc/ssl/certs ...

Can it be a difference in openssl configuration for Ubuntu?

[2019-02-11 19:14] Eloston commented on #666
82b1194615a6542c28edfc5505d357c9dfca88c7

[2019-02-11 19:14] #666 closed

[2019-02-11 19:18] Eloston commented on #655
That doesn't sound like a normal Ubuntu setup if `wget` doesn't find your SSL certs by default. You may want to try a clean install; perhaps a VM or container (e.g. LXD or Docker).

If you still have issues with a clean setup, let me know.

[2019-02-11 19:18] #655 closed

[2019-02-11 19:49] arichiardi commented on #655
@Eloston you have been very hasty in closing this - my Ubuntu is vanilla.

I am trying now in a VirtualBox VM. In the meantime please have a look at this: https://stackoverflow.com/questions/27835619/urllib-and-ssl-certificate-verify-failed-error/31915123#31915123

It seems similar to my error and has to do with `urllib`.

[2019-02-11 20:04] Eloston commented on #655
I don't see how the error is related. Your link is regarding Windows, not Linux.

Still, if `wget` isn't working with HTTPS out-of-the-box, something in your environment is not normal. I've never seen anything happen like this on Ubuntu.

[2019-02-11 20:42] arichiardi commented on #655
It seems like the VM downloads correctly the package. Definitely something is odd on my end. Thanks for now.

[2019-02-11 22:18] hardhub opened #675 "BUILD.gn error during compilation on Windows"
### Description

Error during patching:
[code]
### Environment details

* ungoogled-chromium version: all tried versions starting 69.*
* Configuration bundle: windows
* Packaging type (if applicable): windows
* OS and version for building: Windows 7 x64
* Compiler toolchain: VS 2017

### Building and packaging steps

py ungoogled_packaging\build.py

[2019-02-11 22:18] davidhuff2014 commented on #665
Set both flags as you suggested and it got all the way into ninja but:
`[451/18196] ACTION //chrome/test/chromedriver:embed_version_in_cpp(//build/toolchain/linux/unbundle:default)
ERROR:root:Git error: rc=128, output=''
[2832/18196] LINK ./chrome_sandbox
FAILED: chrome_sandbox
python "../../build/toolchain/gcc_link_wrapper.py" --output="./chrome_sandbox" -- clang++-7 -pie -Wl,--build-id=sha1 -fPI

[2019-02-11 23:07] arichiardi commented on #655
For posterity, when you compile `openssl` yourself, make sure you set `--openssldirs=/etc/ssl` in case of Ubuntu so that you reuse your distro certificates. This now works for me.

Thanks @Eloston for you patience and guidance.

[2019-02-12 11:20] davidhuff2014 commented on #665
Something may have changed in the setup, this did build with only gn flag set this time. Won't have time until tonight to verify the video.

[2019-02-12 22:11] davidhuff2014 commented on #665
Adding only use_lld=true to gn_flags.map for ubuntu_bionic worked.

[2019-02-12 22:11] #665 closed

[2019-02-12 22:13] davidhuff2014 commented on #673
Adding only use_lld=true to gn_flags.map for ubuntu_bionic worked. I tested several clickbait videos on youtube and one that previously failed all the time with the previous built and all were very good quality.

[2019-02-12 22:13] #673 closed

[2019-02-12 22:59] riyad opened #676 "72.0.3626.96-1 compilation errors on Ubuntu 18.04 + 18.10"
Building 72.0.3626.96-1 on Ubuntu 18.04 and 18.10 (using upstream LLVM) fail with the following output:

[code]

[2019-02-14 05:25] restfuladi commented on #667
I don't mind using Resilio or Syncthing to sync the entire profile. Which file/folder should I sync?

[2019-02-14 14:21] Ranguvar opened #677 "Additional VAAPI patches"
Arch and Fedora are using the new mojo VAAPI patches also, and have two additional patches for the VAAPI version check:

https://git.archlinux.org/svntogit/packages.git/commit/trunk?h=packages/chromium&id=fb41953b188343acb8a4739d5f76427fdfbeed24

Can these be added to ungoogled-chromium?

[2019-02-14 17:21] kariedo opened #678 "build of 72.0.3626.96 fails on macOS 10.14"
### Description

Build fails on macOS for 72.0.3626.96

### Console output and logs

[code]
[code]

### Environment details

* ungoogled-chromium version: [`72.0.3626.96`]
* Configuration bundle: [`macos`]
* Packaging type (if applicable): [`macos`]
* OS and version for building: [`macOS 10.14`]
* Compiler toolchain: [`clang+llvm-6.0.0-x86_64-apple-darwin`]

### Building and packaging steps

Follo

[2019-02-15 00:30] pouledodue commented on #678
same as #672
problem is like me you did
`git clone https://github.com/Eloston/ungoogled-chromium.git`
but you have to do:
`git clone --branch 71.0.3578.98-2 https://github.com/Eloston/ungoogled-chromium.git`
before following those instructions:
[code]

[2019-02-15 04:04] patchouli69ou commented on #678
/build/config/compiler/BUILD.gn section in fix-gn-safe_browsing.patch seems to be the cause of the problem You can compile if you delete this section from the patch file, though I don't know how safe that is.

[2019-02-15 07:56] dackelblut commented on #645
Have you tried starting it using gdb? And: self-build kernel?
FYI: yesterday I successfully built 71.0.3578.98-2 using the buster target on a sid machine. It starts and runs smoothly.

[2019-02-15 18:04] Eloston commented on #677
Sure. Since it's such a small change, it should probably go under `linux_rooted`.

Feel free to submit a PR.

[2019-02-15 18:10] Eloston commented on #667
I'm not entirely sure if the profile directories will be compatible under such platforms, but you'll need to synchronise the user data directory. The path to the currently-used profile can be found under `chrome://version` under "Profile Path". The user data directory is the parent directory of the Profile Path.

[2019-02-15 18:16] Eloston commented on #676
Looks like the static assert is indicate of the error here: `v8 is required to build with ICU 63 and up`

It's possible the following errors are caused by a system ICU that is too old. We may have to use the bundled ICU library instead. I believe there's a GN flag for this, and a code change in `debian/scripts/unbundle` required to use the bundled ICU library.

[2019-02-15 22:59] dryshirt commented on #667
I tried out Resilio Sync for a couple days, and although it works most of the times, there are a couple key points which are definitely worsening the issue instead of fixing it:

1. Update intervals: Whenever there is an update to the directory, Resilio Sync attempts to send the changes to all other peers. Paired with an unstable or slow network (like my school's, for example) - this quickly becom

[2019-02-16 00:15] Eloston commented on #667
Yes, blindly applying a generic file-synchronization service to the profile directory is a bad idea. File synchronization services make assumptions about how the files are used that are not valid for a Chromium profile (as you experienced first-hand). For example, generic file sync assumptions about consistency and how to approach consistency do not work for Chromium profile files; the atomic chan

[2019-02-16 13:33] TCB13 commented on #678
There is no `/build/config/compiler/BUILD.gn` in `71.0.3578.98-2`.

[2019-02-16 16:18] davidhuff2014 commented on #673
As an additional note, some days after the build I had some video issues of the same nature I'd experienced previously. Turning off hardware acceleration reduced those rare remaining occurrences to zero.

[2019-02-16 22:36] TCB13 commented on #659
@k2l8m11n2 you can always edit `about_page` to add something after the current message...

[2019-02-17 09:57] flagg19 opened #680 "Build fails for debian_stretch (undeclared identifier 'AV_CODEC_ID_AV1')"
### Description

Build fails because of: `use of undeclared identifier 'AV_CODEC_ID_AV1'`

### Console output and logs

[code]

### Environment details

* ungoogled-chromium version: 72.0.3626.96-1
* Configuration bundle: `debian_stretch
* Packaging type (if applicable):  `debian_stretch`
* OS and version for building: Debian stretch amd64 (a clean install of the newest stable debian 9 version)
*

[2019-02-17 18:36] saltama commented on #678
The first part of the patch @patchouli69ou is referring to commented out the flag, but that has been completely removed from chromium in October, see: https://bugs.chromium.org/p/chromium/issues/detail?id=753973
I'm opening a quick PR for this.

[2019-02-17 18:53] #678 closed

[2019-02-17 20:21] pouledodue opened #682 "warnings -Wno-ignored-pragma-optimize"
### Description

[code]
this warning is repeated 19298 times

### Environment details

* ungoogled-chromium version: [71.0.3578.98-2]
* Configuration bundle: [`macos`]
* Packaging type (if applicable): [`macos`]
* OS and version for building: [macOS 10.14]
* Compiler toolchain: [Apple LLVM version 10.0.0 (clang-1000.11.45.2)]

*(If relevant, add other environment details here)*

### Building and p

[2019-02-17 21:43] TCB13 commented on #639
Looks like I'm not properly disabling the safe browser, how am I supposed to do that?

[2019-02-17 21:44] TCB13 commented on #675
Related to https://github.com/Eloston/ungoogled-chromium/issues/639

[2019-02-17 21:58] TCB13 commented on #675
Maybe related to the safe browsing mess? https://github.com/Eloston/ungoogled-chromium/issues/639#issuecomment-461983120

I was stuck on this for a long time, manage to get around it on macOS but under windows looks like its harder...

[2019-02-17 22:37] TCB13 commented on #675
Update: this isn't actually related to safe browser. Looks like a new issue of this version.

[2019-02-18 12:32] hardhub commented on #675
@TCB13

I simply made all as specified in instructions.
Maybe you used different version of chromium source.
To be honest I do not know exactly.

[2019-02-18 13:45] sbeh commented on #73
I can confirm [this fix](https://github.com/Eloston/ungoogled-chromium/issues/73#issuecomment-269772331) just worked for me on Windows 10 and Chromium 72.0.3626.109

[2019-02-18 14:00] TCB13 commented on #675
@hardhub can you cofirm that your build process was like this?

1. Install:
- 7z1806-x64.msi
- python-2.7.15.amd64.msi (add it to path)
- python-3.6.5-amd64.exe (don't add to path; enable py launcher)
2. Run `pip install pypiwin32`
3. Install VSCode (vs_community__735157147.1549731593.exe) with the following components:
[code]
4. Open `Settings > Apps & features > Windows SDK 10.0.17763.132 > Modi

[2019-02-18 14:10] wokawoka commented on #73
@sbeh , thank you for contributing but I can't follow you, your links brings to a reply with a mac os fix, not a windows one. I'm trying to install widevine on 72.0.3626.109 under windows 10 and I would be very grateful if you can expand more. Many thanks

[2019-02-18 14:25] sbeh commented on #73
@wokawoka I installed Chrome into a VM and then copied `C:\Users\...\AppData\Local\Google\Chrome\Application\72.0.3626.109\WidevineCdm` into my ungoogled-chromium directory. Result was a previously not and now working Netflix ;)

[2019-02-18 15:25] wokawoka commented on #73
@sbeh, thanks, that's what I also previosly did but I forgot to close all the active windows in background (chromium needed a restart). Thank you very much again

[2019-02-18 16:22] lipici commented on #656
sorry to ask in here this but there is a place where i can see the evolution of ungoogled windows version?
i know a while ago was a thread where eloston updated the progress with V and X for version 69 but cant find it .

And second question because i dont understand:
Latest version is 67.0.3396.87-2 ?

[2019-02-18 18:00] bill-mcgonigle commented on #597
Some data.  From the build logs I saw:
[code]
Which is a bit slow.  I had previously done some compression benchmarking[1] and regularly use xz in `-0 --threads=0` mode and decided to compare (0 means 'all cpu cores/threads' in xz-speak, which is eight threads on this laptop).  Summary (file-level-threads-time) in name:

[code]
Explained:

The original tar file was about 1.5GB.
The current system

[2019-02-18 18:24] bill-mcgonigle commented on #556
If we can get to a statically linked output that will have value to people working on projects like kiosks where simple remote updates are really valuable.  They have the challenge of keeping their geographically diverse fleet of machines running securely without breakage from OS updates, etc.  The ability to run chromium-compatible platforms without Google code fiddling around inside their machin

[2019-02-18 21:53] hardhub commented on #675
@TCB13

Not exactly so...

1. 7z was already installed. Just checked version - 16.04 (but nor sure it is so important).

both are in PATH but 27 before 37 (not 3.6.5) and py launcher is also in PATH

2. Yes, I did

3. I have Visual Studio 2017 Enterprise latest update (I am working on some .Net projects).
So I just installed all C++ features including MFC library.
I have list of all installed pack

[2019-02-18 22:13] intika commented on #556
this is not a real issue, the problem we are facing is that sysroot is pre compiled (binary) we would need to maintain that as well if we want to build it from sources.

[2019-02-18 22:17] TCB13 commented on #675
@hardhub my 5th set is to just get the code from this repo, so I can have `get_package.py`... I guess we're doing it in the exact same way. Thanks for the clarification.

[2019-02-19 10:47] slrslr opened #683 "How to activate chrome extension/addon file"
I download the .crx file, drag & drop the .crx file to page:
chrome://extensions/
(development mode enabled, Ungoogled Chromium restarted)

[2019-02-19 10:47] #683 closed

[2019-02-19 15:15] intika commented on #556
sysroot is a little more complicated to be added while respecting this project rules... i added a full review about it here https://github.com/Eloston/ungoogled-chromium/pull/649... so wait and see what we decide...

[2019-02-19 16:56] davidhuff2014 opened #684 "Video Issues 72.0.3626.109-1 ubuntu_bionic"
This actually relates the last several builds. If you have hardware acceleration turned on you may encounter a really nasty looking playback. My AMD processor has 6 video processors and may even be the culprit. Just turn off hardware acceleration and restart ungoogled-chormium to get it sorted out.
![video_issue](https://user-images.githubusercontent.com/7384846/53032686-511cc480-343d-11e9-9ec3-c7

[2019-02-19 20:57] ian-moone commented on #684
It's a known issue. See https://bugs.freedesktop.org/show_bug.cgi?id=106490

TL;DR: Start with `allow_rgb10_configs=false` or add it to `/etc/environment` (or similar), then reboot.

[2019-02-20 17:09] TN0X commented on #675
The problem arises due to problems in some patches since chromium 72.0.72.0.3626.xx.
So there is not only the known issue with all safe-browsing patches since 71.0.3578.98, which could be solved by disabling these patches and setting the approriate build-flag. Since 72.0.xxx there are new issues with other patches. These patches does not fit to the source code of chromium 72.0.xxx:

windows-disabl

[2019-02-20 17:14] TCB13 commented on #675
@TN0X thank you for the answer, can you tell use the exact steps to disable safe browsing in `71.0.3578.98-3` and to add the build-flag? I tried to do this and failed (not very well versed in chromium).

[2019-02-20 23:17] TCB13 commented on #661
@twolf35 you might want to take a look at my step by step guide on how to install the dependencies here: https://github.com/Eloston/ungoogled-chromium/issues/675#issuecomment-464741452

[2019-02-21 04:44] GitTheHellOutaHere opened #686 "Not only UnGoogled, but UnCompiled too."
Myself and others may be interested in trying this IF there was an installer or compiled version.

I don't use HomeBrew, Python etc. If an app's not ready to use, I don't use it.

I was intrigued when I ran across this Chrome replacement yesterday, but it's evidently for developers and/or power-users only, not the general public. Not even advanced users.

I consider myself more advanced than the a

[2019-02-21 07:22] Eloston opened #687 "Make issue templates simpler"
See title.

[2019-02-21 07:25] Eloston commented on #656
@lipici Right now, I don't think there's is anyone working on Windows support., so no issue has been created for it.

[2019-02-21 07:44] #684 closed

[2019-02-21 07:52] Eloston commented on #661
I'm going to close this as a duplicate so we don't have too many Windows issues sitting around. Once the fragmentation refactor is done, I'm going to move all of them to the Windows repo.

[2019-02-21 07:52] #661 closed

[2019-02-21 08:00] Eloston commented on #686
You're sending me mixed messages here...

In all seriousness, links to binaries are available via the README... I suppose the README's still too convoluted for people to see it. I will consider revising again at some point.

I'm curious to know what gave you that impression. As I mentioned, downloads are available, so it's not hard to get a build of ungoogled-chromium running. Also, the browser ex

[2019-02-21 08:00] #686 closed

[2019-02-21 08:01] #677 closed

[2019-02-21 09:17] TN0X commented on #675
see: https://github.com/TN0X/ungoogled-chromium/compare/master...TN0X:test1

you have to change thes files:
config_bundles/windows/patch_order.list
config_bundles/common/patch_order.list
config_bundles/common/gn_flags.map

[2019-02-21 11:56] lipici commented on #656
Thanks for the answer bro. Good luck with your project. I see and feel your passion that you put in because i know how it is to hate /dont like something that invade your privacy. I use windows 8.1 and removed everything from it with  nlite and i downloaded whatsapp from site and didnt logged in google play store.I mean they can have every site that i log into it and every app that i use but to pa

[2019-02-21 12:18] warmaster345 commented on #675
I'm having the same issue. It seems that disabling safe browsing doesn't fix all problems, windows-disable-rcpy and windows-disable-reorder-fix-linking patches are still broken with the last chromium version on windows

[2019-02-21 18:26] k2l8m11n2 opened #688 "Copying http URLs incorrectly converts them to https"
**Describe the bug**
Copying a http URL from the address bar (e.g. by Ctrl+C) results in a (broken) https URL in the clipboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any http-only site (like http://neverssl.com)
2. Copy the URL from the address bar
3. Inspect clipboard contents
4. The URL is https and potentially invalid

**Expected behavior**
The URL should be the same as or

[2019-02-21 19:33] qvint commented on #688
This const is somehow left unchanged.

https://github.com/Eloston/ungoogled-chromium/blob/a58db880c15e5077e881cad7b07d1a277ecd463a/patches/ungoogled-chromium/disable-formatting-in-omnibox.patch#L13

[2019-02-21 22:49] #688 closed

[2019-02-22 12:22] TCB13 commented on #675
@TN0X I tried to compile both `70.0.3538.110-3 and `71.0.3578.98-2` with your changes and it seems to work but it later fails on other issues.

- 70.0.3538.110-3: https://pastebin.com/raw/j9dUJkWD
- 71.0.3578.98-2: https://pastebin.com/raw/ZJEFTCGL

I'm not sure those errors aren't somehow related to Windows Updates. Two weeks ago I was trying to disable safe browsing, I also removed any reference

[2019-02-22 17:29] TN0X commented on #639
you dont have to delete any files. Only edit the patch.list and gn_flags.map files

Step 9. is not neccessary, because step 8. copies your changes in step 7. into build\src\ungoogled_packaging.

Here the steps for the build process of ungoogled-chromium 71.0.3578.98-2:

1. checkout tagged version 71.0.3578.98-2 of ungoogled-chromium

2. delete build/src folder completely (after prior build process

[2019-02-22 18:31] TCB13 commented on #639
@TN0X should I worry about this error?
[code]

[2019-02-22 19:52] riyad commented on #676
FYI: this is still an issue in the recent [72.0.3626.109-1 release](https://github.com/Eloston/ungoogled-chromium/releases/tag/72.0.3626.109-1).

[2019-02-22 20:19] TN0X commented on #639
No, I got the same error at this point.

[2019-02-22 20:55] TCB13 commented on #639
@TN0X I finally managed to get a working build!! Only possible with your precious help!

I did a few things differently this way:

1. Used PowerShell instead of cmd.exe to compile it
2. I was downloading the tag as a zip from github, this time I did:
[code]
Not sure if there was some issue with that zip download or the path in my computer was way too big, because it used to be `C:\ungoogled-chromi

[2019-02-23 01:48] intika commented on #639
safe-browsing patches needs to be updated for windows, i will see what i can do ;)

[2019-02-23 01:51] intika commented on #675
Duplicate of https://github.com/Eloston/ungoogled-chromium/issues/675 ?

[2019-02-23 01:52] TCB13 commented on #675
Yes... the changes proposed by @TN0X fix this issues.

[2019-02-23 01:59] intika commented on #395
duplicate of https://github.com/Eloston/ungoogled-chromium/issues/619 ?
@Eloston

[2019-02-23 02:00] intika commented on #639
i guess this would be solved here https://github.com/Eloston/ungoogled-chromium/issues/619 later on
@Eloston

[2019-02-23 02:01] intika commented on #675
@Eloston can you close this, it will be solved here https://github.com/Eloston/ungoogled-chromium/issues/619

[2019-02-23 02:03] TCB13 commented on #675
@intika #619 doesn't provide solutions, this issue and https://github.com/Eloston/ungoogled-chromium/issues/639 do.

[2019-02-23 02:05] intika commented on #675
Re enabling safe-browsing is a workaround, the patches needs to be updated to get a real fix

[2019-02-23 02:06] TCB13 commented on #675
That feature was removed so...

[2019-02-23 02:08] intika commented on #675
@TCB13 can you please develop i am not aware of that

[2019-02-23 02:15] intika commented on #619
Safe-browsing patches needs to be updated windows builds are failing because of it (re enabling safe-browsing https://github.com/Eloston/ungoogled-chromium/issues/639#issuecomment-466478108 to be able to build)

[2019-02-23 03:34] laokong911 opened #690 "My ungoogle can not download extensons from the chrome store ??why"
*IMPORTANT: Please ensure you have read SUPPORT.md before continuing*

dont download plugins and extensions on google store .
the google store's install button becomes an available on chrome

please help me ,thanks,god bless you .

[2019-02-23 05:41] 23rd commented on #690
Please ensure you have read [FAQ](https://ungoogled-software.github.io/ungoogled-chromium-wiki/faq#can-i-install-extensions-or-themes-from-the-chrome-webstore).

[2019-02-23 09:15] laokong911 commented on #690
I am so sorry! do not lookout it ! thank you...

[2019-02-24 19:33] #682 closed

[2019-02-24 19:38] #690 closed

[2019-02-24 19:39] Eloston commented on #639
Closing per @intika's request.

[2019-02-24 19:39] #639 closed

[2019-02-24 19:41] Eloston commented on #395
@intika No. This is a long-standing issue with the patches even in the latest Windows version available.

[2019-02-25 14:42] xhiddle commented on #623
So there's this lovely freeware tool

https://kolbi.cz/blog/2017/11/10/setdefaultbrowser-set-the-default-browser-per-user-on-windows-10-and-server-2016-build-1607/

But because UNgoogled chromium prebuilt binary was a zip file it's not hooked into all the right places so more magic required

There is this other tool that references the first tool which explains that a hash must be generated to bin

[2019-02-25 14:51] xhiddle opened #693 "windows tool to set as default browser / wiki"
I'm not savvy enough to understand how to overcome this shortfall with a third party tool by _Christoph Kolbicz_:

https://kolbi.cz/blog/2017/11/10/setdefaultbrowser-set-the-default-browser-per-user-on-windows-10-and-server-2016-build-1607/

via: https://kolbi.cz/blog/2017/10/25/setuserfta-userchoice-hash-defeated-set-file-type-associations-per-user/

It scans to find all installed browsers.  Had

[2019-02-25 15:14] xhiddle commented on #667
export whatever to a fixed filesystem location outside of chromium profile directorie trees. Use third party tool to sync given location to whichever cloudy services. User provides own sync tool, and cloud credentials via that tool.

way less huge undertaking?  Option to auto export user selections on startup as shutdown seems sketchy.

And that's what I get for not completely reading prior to rep

[2019-02-25 17:11] dackelblut commented on #680
I don't fully understand the build system details yet, but it seems that chromium can be build using his own copy of ffmpeg or a system-provided one. AV_CODEC_ID_AV1 can be found in avcodec.h, which is part of the package libavcodec-dev (atleast on unstable). If you have that package but it's too old or in the wrong header file, the build fails with the missing include.
You could try to force the

[2019-02-26 15:19] TCB13 commented on #693
@xhiddle I believe that tool can't find Ungoogled because it isn't registered in the system. If you go to Windows Settings Ungoogled won't also show on the Default Browser section, can you confirm this?

If yes, you might be able to use my changes to the reg attached. This will register Ungoogled in your system.
[ungoogled-chromium.zip](https://github.com/Eloston/ungoogled-chromium/files/2906142/u

[2019-02-26 22:08] fosslinux commented on #645
@dackelblut self-built kernel? no. I'll try again, maybe this got fixed?

[2019-02-27 07:04] dackelblut commented on #645
No, I was thinking that your (possible) self-built kernel lacks a symbol (USER_NS) needed for sandbox. But the sandbox error can't be the problem anyway, I get that with vivaldi (based on chromium) too without the browser crashing.
What cpu do you have? Many search results point at older cpus, without newer SSE-Versions.

[2019-02-28 10:44] congma opened #694 "It would be nice if the default behaviour for missing URI scheme could be set by a flag"
**Is your feature request related to a problem? Please describe.**
Currently, when typing an URL in the address bar without an explicit scheme (e.g. `http://`), the default scheme `https://` is prefixed. This is also documented in the README file:

I can see the appeal, but also the limitation. Some sites, unfortunately, may fail silently (until timeout) or refuse connection when HTTPS is not avai

[2019-02-28 12:02] sebvargo commented on #315
I experienced this problem as well. I left my computer overnight to upload videos to a cloud using Google Chrome and my fans started to sound very loud to the point that they woke me up.

After checking Activity Monitor,  crashpad_handler was taking 199% CPU. Please see image below.

![image](https://user-images.githubusercontent.com/36892176/53565082-75a42b00-3b26-11e9-83b3-d2417c0276bd.png)

How

[2019-02-28 23:10] arutr commented on #315
@sebvargo That process shouldn't be active. Maybe the patch is no longer valid

[2019-03-01 00:54] fosslinux commented on #645
I don't have a self-build kernel; I'm running `4.19.0-2-amd64` from Debian Testing.

I'm trying on a Dell Latitude 7480, with a Intel i5-7200U.

I'm planning to try compiling it again tonight, in about 4-5 hours.

[2019-03-02 11:44] flagg19 commented on #680
I've the latest version available on apt for debian 9:
[code]
In the header `/usr/include/x86_64-linux-gnu/libavcodec/avcodec.h` there is no `AV_CODEC_ID_AV1`
This may have something to do with it: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=905595

So i guess it's not a problem of ungoogled-chromium, but something wrong with the official version of libavformat-dev & libavcodec-dev for debia

[2019-03-02 21:42] Eloston commented on #680
AV1 codec requires a libav that is newer than what stretch provides. This isn't a new issue; I have been following whatever upstream (i.e. Debian) does for its `chromium` package. I just haven't gotten around to updating ungoogled-chromium for Debian yet.

[2019-03-02 21:46] Eloston commented on #315
@sebvargo If you experience this with 72.0.3626.109-1, please create a new issue. Thanks.

[2019-03-02 21:47] Eloston commented on #694
This sounds like #688. What version are you running?

[2019-03-02 21:52] Eloston commented on #693
This is a duplicate of #623.

[2019-03-02 21:52] #693 closed

[2019-03-06 07:09] congma commented on #694
The version is `71.0.3578.98`.

I don't think this is the same as #688 though. This request is about the behaviour triggered when typing an URL by hand without the scheme part.

[2019-03-06 15:53] steemandlinux opened #697 "Disable proxy controller"
A patch, which turns off proxy controller, which in turn can lead to a data leak, because of proxy extension shutdown.

https://codereview.chromium.org/320633002/

[code]

[2019-03-07 17:44] Eloston commented on #694
Ah, I misread your issue. Thanks for clarifying.

Since this is only affecting URLs typed in the Omnibox, I think this is purely a user experience design decision. As @tie argues in #628, having https in the URL bar addresses potential privacy/security issues.

Approximately what proportion of websites do you visit that are affected by this issue? How often do you encounter them?

[2019-03-07 17:47] Eloston commented on #697
Could you clarify how this causes a data leak? I'm not familiar with this scenario.

[2019-03-07 19:26] fujitsuDev opened #699 "KeePassXC-Browser extension doesn't works"
KeePassXC-Browser doesn't launch properly and can't detect openned database KeePassXC.

**Steps to reproduce the behavior:**
1. Go to https://github.com/keepassxreboot/keepassxc-browser/releases
2. Download v1.3.2 archive and open it
3. Extract _keepassxc-browser_ folder (inside _keepassxc-browser-1.3.2_)...
4. ...and copy in ~_(Chromium location)_/extensions/_(HERE)_
5. Open Chromium and go to _c

[2019-03-07 21:09] steemandlinux commented on #697
<blockquote class="imgur-embed-pub" lang="en" data-id="a/Z3SZoKt"><a href="//imgur.com/Z3SZoKt"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

[2019-03-07 21:12] steemandlinux commented on #697
![Alt text](https://i.imgur.com/KGHTVW4.png?raw=true "")

[2019-03-07 22:36] tie commented on #694
Well, it *might be* a limitation if you enter (unvisited) URL and don't know in advance that the content is not served over HTTPS.  Though the same issue persists for HTTPS-only websites when `http://` is default.
And both cases are pretty rare these days:
- [Let's Encrypt Stats](https://letsencrypt.org/stats)
- [Firefox Telemetry for `HTTP_PAGELOAD_IS_SSL`](https://telemetry.mozilla.org/new-pipel

[2019-03-08 12:57] congma commented on #694
Admittedly, my usage pattern isn't very typical. For daily browsing I use Firefox. I use the ungoogled-chromium only temporarily when accessing the sites that I have to use (insurance, some airline companies, for example) but somehow break under Firefox. Those sites are mostly _not_ very well tested in the first place (as you might infer from their non-compatibility with more than one browser), an

[2019-03-08 15:45] sgqy commented on #676
ubuntu server 18.04.2.
building [72.0.3626.122-1](https://github.com/Eloston/ungoogled-chromium/releases/tag/72.0.3626.122-1), same error.

[2019-03-08 21:26] TCB13 commented on #699
It works for me. At least under windows...

[2019-03-08 22:31] Eloston commented on #699
I'm not sure if this is a Windows-specific issue, so I'm going to leave this open for now. If it is Windows-specific, I will close this since we don't support customized versions of ungoogled-chromium (because Windows support isn't updated yet).

[2019-03-08 22:38] Eloston commented on #694
I don't believe this is worth the effort, because flag checking code would need to be added to a number of places; mostly in C++ code, but also a JavaScript file. I'd rather not maintain that much extra complexity for a less common use-case, especially since this doesn't significantly deviate from regular Chromium's behavior.

If this is troublesome enough for you, and you have the resources to do

[2019-03-08 22:38] #694 closed

[2019-03-08 22:40] Eloston commented on #697
Sorry, I still don't understand. Could you point out and explain exactly what I should be looking for?

[2019-03-09 10:04] lipici commented on #675
@hardhub hardhub can you try again with latest version?

[2019-03-09 10:07] TCB13 commented on #675
@lipici what do you mean by "latest version", a specific tag or master? Either way, is it even possible to build above 71.0.3578.98-2 under Windows? Seems like there is a lot of broken stuff...

[2019-03-09 10:57] steemandlinux commented on #697
Proxy controller blocks proxy extensions every 7 days and may cause data leakage through a direct connection. There is no possibility to disable it through the settings.

[2019-03-09 11:37] warmaster345 commented on #675
I have tried with the latest version, the same error occurred. Windows 10 x64, VS 2017

[2019-03-09 14:41] carlorosati commented on #240
Can you use ad-hoc signing?

[2019-03-09 14:46] sgqy commented on #676
ubuntu server 18.04.2.
building [72.0.3626.122-1](https://github.com/Eloston/ungoogled-chromium/releases/tag/72.0.3626.122-1), same error.

-----

I compile & installed [icu 63](http://site.icu-project.org/download) directly. Then [ignore dependancy](https://stackoverflow.com/questions/11238134), it works.

But it may destroy the default icu on system. And it is dangerous to use.

Maybe I should w

[2019-03-09 15:35] nsuchy commented on #240
Currently we're building our own binaries. After building, sign with your own Apple ID, problem solved :)

[2019-03-09 17:31] moskalev commented on #676
Can be built on Ubuntu 18.04 with ICU 64.1 installed from sources.

If `LD_LIBRARY_PATH` is empty, specify the location of installed ICU `export LD_LIBRARY_PATH=/usr/local/lib`

in `build/src/debian/rules` change line 75 from
`dh $@`
to
`dh $@ --dpkg-shlibdeps-params=--ignore-missing-info`

[2019-03-09 17:31] lipici commented on #675
Sorry if 71 is still the latest one. I believed chromium has the same version like chrome, in this case, 72.
    On Saturday, March 9, 2019, 12:07:18 PM GMT+2, TCB13 <notifications@github.com> wrote:

@hardhub hardhub can you try again with latest version?

@lipici what do you mean by "latest version", a specific tag or master? Either way, is it even possible to build above 71.0.3578.98-2 under Wi

[2019-03-09 17:32] lipici commented on #675
Thanks bro. Sad day for fans.
    On Saturday, March 9, 2019, 1:37:07 PM GMT+2, warmaster345 <notifications@github.com> wrote:

@hardhub hardhub can you try again with latest version?
I have tried with the latest version, the same error occurred. Windows 10 x64, VS 2017

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-09 18:11] carlorosati commented on #240
If the problem is solved, why is this issue still open?

[2019-03-10 00:56] hardhub commented on #675
**master:**

[code]

**72.0.3626.122-1**

[code]

[2019-03-10 02:12] lipici commented on #675
Ahhh, no luck yet. Thanks, bro.
    On Sunday, March 10, 2019, 2:56:42 AM GMT+2, Maxim <notifications@github.com> wrote:

@hardhub hardhub can you try again with latest version?

master:
subprocess.CalledProcessError: Command '['C:\\ungoogled-chromium\\build\\src\\third_party\\git\\usr\\bin\\patch.exe', '-p1', '--ignore-whitespace', '-i', 'C:\\ungoogled-chromium\\build\\src\\ungoogled_packaging\\p

[2019-03-10 17:44] boozedog opened #700 "ungoogled-chromium on iOS"
i was thinking about the comment by @trymeouteh from this issue: https://github.com/Eloston/ungoogled-chromium/issues/56#issuecomment-422142350

agreed that Apple doesn't allow non-safari-webkit browsers on iOS.

But I think there may still be merit to such a project, as developers would be able to compile and side-load it themselves, and anyone with jailbroken device could conceivably install it

[2019-03-10 18:03] NickKartha commented on #700
What's your question? Perhaps, it's best starting a repository with further description of the project you're proposing. I understand that Safari is the main standard in Apple's closed garden ecosystem environment. There might not be a requirement for jaibreaking the device for this. iOS is still an evolving standard.

"it would not be worthwile to make a Ungoogled Chromium for iOS since iOS does

[2019-03-10 18:07] AlexIsNice opened #701 "My native language somehow shoes on ungoogled-chromium"
So i have been enjoying ungoogled-chromium,i went to whoer.net and saw my local language i went to settings and languages and only saw english,as you may understand this is really not good  for fingerprinting.Is there any way to remove it?

[2019-03-10 18:08] boozedog commented on #700
Sorry this was meant as a feature request, not so much as a question

[2019-03-10 18:39] Eloston commented on #697
I see, so when you apply the patch above:

1. What happens to the dialog box?
1. What does "Keep Changes" do now?
2. What does "Restore Settings" do now?
3. What happens to `extension_id_` above the return statement?

[2019-03-10 18:48] Eloston commented on #240
Right now, we have no way to ensure binaries on GitHub have not been modified from the builder's original binary. Signing allows us to ensure that the uploaded binaries are what the builder originally created.

(This goes for all binaries on ungoogled-chromium actually, not just macOS app bundles.)

[2019-03-10 18:49] Eloston commented on #701
Which binary are you using?

[2019-03-10 18:52] AlexIsNice commented on #701
https://chromium.woolyss.com/

The ungoogled one  72.0.3626.121

Link to download: https://chromium.woolyss.com/f/chrlauncher-win64-stable-ungoogled.zip

[2019-03-10 18:56] Eloston commented on #701
You should ask whoever built that binary for support. There is no official Windows binary for version 72.

[2019-03-10 18:56] #701 closed

[2019-03-10 19:58] hardhub commented on #675
Tried on master:

(Stripping trailing CRs from patch; use --binary to disable.)
patching file chrome/BUILD.gn
Hunk #2 FAILED at 83.
Hunk #3 succeeded at 309 (offset -3 lines).
1 out of 3 hunks FAILED -- saving rejects to file chrome/BUILD.gn.rej
(Stripping trailing CRs from patch; use --binary to disable.)
patching file tools/perf/chrome_telemetry_build/BUILD.gn
Hunk #1 succeeded at 36 (offset 4 l

[2019-03-11 00:08] marksolaris commented on #676
Ubuntu 18.04.1:
In the original chromium src:
[code]

In the src after the build failed (didn't find yet why icu went missing):
[code]

[2019-03-11 00:47] marksolaris commented on #676
**Installing your own ICU**

Fetch:
http://apps.icu-project.org/icu-jsp/downloadSection.jsp?ver=63.1&base=cs&svn=release-63-1
http://download.icu-project.org/files/icu4c/63.1/icu4c-63_1-src.zip

Compile and install to /usr/local:
[code]

[2019-03-11 19:40] TCB13 commented on #699
@fujitsuDev I'm running the extension on `71.0.3578.98-2` without issues.

[2019-03-11 19:46] chazanov opened #702 "[Question] Is WebRTC currently disabled?"
Is WebRTC currently disabled? https://github.com/Eloston/ungoogled-chromium/issues/319 looks like it's not.

Is there a patch publicly available? I would be very glad about such thing.

[2019-03-12 18:12] TCB13 commented on #699
@fujitsuDev you can't download directly from the store, you need to follow this procedure: https://ungoogled-software.github.io/ungoogled-chromium-wiki/faq#can-i-install-extensions-or-themes-from-the-chrome-webstore. I did that and I was able to use the extension.

[2019-03-12 20:48] mehrdadn commented on #668
Related to #538.

[2019-03-13 08:22] dylanaraps commented on #375
Chromium requires a large number of patches to build on Alpine Linux (*which uses musl*). Most of these are likely required to get an ungoogled-chromium build working on a musl system.

List of patches as well as build setup (*inside APKBUILD*): https://git.alpinelinux.org/aports/tree/community/chromium

I'd love to see some movement here as Alpine doesn't ship with any privacy conscious browser f

[2019-03-13 08:25] fujitsuDev commented on #699
@TCB13 I downloaded CRX file from Web Store by following the procedure, but impossible to install CRX within developer mod anyway under Windows 7 or 10: can't drag and drop file (see 2nd screenshot above).

[2019-03-13 08:30] TCB13 commented on #699
If youn change the flag, chrome://flags/#extension-mime-request-handling to Always prompt for install. You don’t even need to drag and drop. Opening the link of the file would ask you to install right away.

[2019-03-13 09:16] fujitsuDev commented on #699
Ok, thats works now! Thanks!

Obviously KeePassXC-Browser don't allow unpacked installation, but only CRX from Web Store.
I don't understand why, but the most important thing, is that works.

[2019-03-13 11:00] rockingaryan opened #703 "Push Notifications are not Working"
*IMPORTANT: Please ensure you have read SUPPORT.md before continuing*
Hi,

I love this ungoogled chromium because It is faster and private. I love Old UI and text weight. Chrome shows dark and bold text hurting my eyes.

I recently added an issue which is closed.
https://github.com/Eloston/ungoogled-chromium/issues/589

Is it possible to enable Push Notification Manually? I am not receiving any pu

[2019-03-13 16:09] TCB13 commented on #699
Did you experience this with other extensions? If not, this can be closed.

[2019-03-13 20:01] fujitsuDev commented on #699
Only KeePassXC at this time. Works with others extensions tested.

[2019-03-14 03:18] marksolaris commented on #676
To compile and link the binary I use the recipe below. The final debian packager complains the /usr/local/lib ICU libraries don't have packaging information and ends, but the new chromium is already built in the build/src/debian directory tree and can be manually copied to /usr. I need to get up to speed what the dh_*tools do to complete the task, but don't have the bandwidth to spend on this linu

[2019-03-14 22:57] TCB13 commented on #675
Tried 72.0.3626.122-1:
[code]

[2019-03-15 10:42] vovkasm opened #704 "DevTools profiling broken in 72.0.3626.122 macOS"
**Describe the bug**
Profiling in DevTools broken in 72.0.3626.122 on macOS. After pressing "stop" button it loading results infinity.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://popper.js.org/index.html'
2. Click on 'Cmd+I' (open DevTools)
3. Go to 'Performance' tab
4. Click 'Cmd+E' or Record button (start recording profile)
5. Do some activity on the page (scroll to bott

[2019-03-15 14:47] vovkasm commented on #704
Followup. When I open console for devtools itself (thanks https://stackoverflow.com/a/27661701)

I see this:
![devtools erros](http://vovkasm.skitch.vovkasm.org/devtools-errors_223BF20D.png)

Seems Tracing API removed?

[2019-03-15 14:52] vovkasm commented on #704
I think it is because of this patch: https://github.com/Eloston/ungoogled-chromium/blob/master/patches/debian_buster/disable/tracing.patch

[2019-03-15 15:26] vovkasm commented on #704
Refer to same bug report for debian folks https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=922431

[2019-03-15 17:06] Eloston commented on #702
WebRTC is not disabled. If it doesn't work, please let us know.

[2019-03-15 17:06] #702 closed

[2019-03-15 17:57] Eloston commented on #703
As stated in #589, Push Notifications depends on GCM. I don't think it will be easy to re-enable GCM if you still want to maintain the features of ungoogled-chromium. You could try to switch to Chromium or another Chromium-based browser if this is really important to you.

[2019-03-15 17:57] #703 closed

[2019-03-15 17:59] Eloston commented on #699
Interesting. Didn't know that extensions had the ability to determine that.

Sounds fine with me.

[2019-03-15 17:59] #699 closed

[2019-03-15 18:14] Eloston commented on #704
Thanks for the well-constructed report.

I actually removed this patch while working on the `fragmentation` branch, but forgot to do it for `master`. I'll push a change later.

As for the reason why I dropped this patch, it really comes down to how strongly I want to adhere to FOSS principles. While Michael decided that it is important to break features, even large ones, to adhere to FOSS (as show

[2019-03-15 21:15] TCB13 commented on #188
+1 here, I would like have a working spell check!

[2019-03-15 21:32] #704 closed

[2019-03-15 22:11] TCB13 commented on #675
So, I just tried to compile master after the patches by @r4sas and I got this:

[code]

Thank you for the continuous effort.

[2019-03-16 12:25] r4sas commented on #675
I also stopped here, thats why I said about need for additional patching.

[2019-03-16 14:09] r4sas commented on #675
Looks like something wrong with gn output...
[code]
I'm about `${source_name_part}`, `${in}` in command line.

[2019-03-16 23:12] warmaster345 commented on #675
Thanks to @r4sas patches the goal is close, but I'm still getting errors.

[code]

[2019-03-17 03:41] pipboy96 opened #706 "Will Ungoogled Chromium move to declarativeNetRequest like official builds?"
Chromium devs are currently working on a change that will make extensions like HTTPS Everywhere unable to function, since handling each request programmatically will no longer be possible. Will Ungoogled Chromium include patches to reverse these changes?

[2019-03-17 03:49] pipboy96 commented on #706
Related: EFForg/https-everywhere#17268.

[2019-03-17 03:58] Eloston commented on #706
There has been discussion about this in #662. I think it's best to move discussion over to that issue.

To briefly answer your question: Right now, there are no concrete plans related to this issue.

[2019-03-17 03:58] #706 closed

[2019-03-17 04:00] pipboy96 commented on #706
@Eloston Excuse me, I only skimmed over the first page of issues before asking.

[2019-03-17 04:02] Eloston commented on #706
I'm sorry if I offended you in any way. I just want to consolidate the discussion.

You make a good point, so I will revise the title of that issue.

[2019-03-17 04:10] pipboy96 commented on #662
There's way too much off-topic conversation here. @Eloston can you hide all these comments (mostly about hardware "needed" to build Chromium) using GitHub's new feature ([like this one](https://github.com/vslavik/winsparkle/issues/187#issuecomment-448955605)) and if possible make an official comment, even if it's just:

[2019-03-17 04:56] pipboy96 commented on #706
@Eloston No problem.

[2019-03-17 05:53] mymortal opened #707 "error: use of undeclared identifier 'PROCESS_CREATION_MITIGATION_POLICY2_RESTRICT_INDIRECT_BRANCH_PREDICTION_ALWAYS_ON'"
Build fails on Windows 10 with error
` error: use of undeclared identifier 'PROCESS_CREATION_MITIGATION_POLICY2_RESTRICT_INDIRECT_BRANCH_PREDICTION_ALWAYS_ON`

Console output and logs
Full console output available [here.](https://pastebin.com/FwZ2g9bw)

Environment details
ungoogled-chromium version: 72.0.3626.122
Configuration bundle: windows
Packaging type: windows
OS and version for building: W

[2019-03-17 12:59] AtlantisFr opened #709 "Packages ready for Debian Buster"
Hi, I have successfully build binaries packages on Debian Buster.
I can share it if anyone wants it.
I thank you for the work you have done in this project.

[2019-03-17 13:28] riyad commented on #676
I've hacked together a working set of changes to build chromium with the bundled version of icu. You can find the changes in https://github.com/riyad/ungoogled-chromium/commit/296d6f423523c9669ce971d2ce027824b2dd38f3 ... I'm trying to clean them up for submission.

@Eloston maybe you can point me in the right direction. I had to remove entries from `linux_rooted`'s [`pruning.list`](https://github.

[2019-03-17 15:27] TCB13 commented on #707
@mymortal did you take a look at https://github.com/Eloston/ungoogled-chromium/issues/675 ?

[2019-03-17 17:22] mymortal commented on #707
Yes, I have seen it, and reference
https://github.com/Eloston/ungoogled-chromium/issues/639#issuecomment-466478108
Methods

[2019-03-17 17:23] TCB13 commented on #707
@mymortal it only works up to 71.0.3578.98-2. You can't build anything newer than that.

[2019-03-18 01:28] mymortal commented on #707
thank you

[2019-03-18 01:28] #707 closed

[2019-03-18 17:55] Eloston commented on #676
@riyad

There isn't. It's a design choice I made because I feel the additional complexity due to such a feature would make it more difficult to reason what flags/patches would be applied. If you want to remove a patch from a dependency (e.g. `linux_rooted`), you have to move the flags/patches to all its dependents (e.g. `archlinux`, `debian_buster`, etc.) except the bundles you don't want the flag

[2019-03-18 18:03] Eloston commented on #709
Thanks for the offer, but this is not necessary since the next version of Debian binaries will be built off new code from #651. For now, I plan on testing and building binaries for Debian buster and stretch.

[2019-03-18 18:03] #709 closed

[2019-03-20 19:14] tangalbert919 opened #711 "Chromium 72.0.3626.122-2 compiling fails on Windows"
### Description

Attempting to build ungoogled-chromium 72.0.3626.122-2 on Windows fails during the last part of `build.py`.

### Console output and logs

`[15799/20080] CXX obj/chrome/common/safe_browsing/file_type_policies/file_type_policies.obj
FAILED: obj/chrome/common/safe_browsing/file_type_policies/file_type_policies.obj
../../third_party/llvm-build/Release+Asserts/bin/clang-cl.exe /nologo

[2019-03-20 19:17] r4sas commented on #711
Please check issue tracker before opening new one.
Dupe of #675.

[2019-03-20 21:50] #711 closed

[2019-03-20 21:53] r4sas commented on #675
Can you provide full error info?

[2019-03-20 22:09] r4sas commented on #675
One question about patch that must fix building with safe browsing disabled: is it really needed?
I'm asking this because in no one folder for other distributions I see identical patch. So maybe it must be rewritten from scratch?

[2019-03-21 14:26] tangalbert919 commented on #675
That patch came in handy for the "tlb" issue, since now I don't need to open a Native Tools cmd for that, but this happens:

`[15799/20080] CXX obj/chrome/common/safe_browsing/file_type_policies/file_type_policies.obj
FAILED: obj/chrome/common/safe_browsing/file_type_policies/file_type_policies.obj

../../chrome/common/safe_browsing/file_type_policies.cc(53,29):  error: use of undeclared identifie

[2019-03-21 14:55] leon0707 opened #712 "Search in the address bar"
**Describe the bug**
Input keywords in the address bar, then press enter. It will not direct to the default search engine page.

**To Reproduce**
Steps to reproduce the behavior:
1. input XXXX in the address bar
2. Press 'enter'

**Expected behavior**
When users press the enter key, it should open the search page.

**Environment (please complete the following information):**
 - Mac mojave
 - ungoo

[2019-03-21 15:01] r4sas commented on #675
chrome\browser\browser_resources.grd
[code]

[2019-03-21 16:38] tangalbert919 commented on #675
I have applied that, only to get this error (and yes, I did look for ways to fix that):
[code]

[2019-03-21 16:52] luckysunfd opened #713 "building fails on windows10"
### Description

env:
windows 10 x64 10GB memory

python -> python2.7.16  x64
py -> [python3.5.x | python3.7.x | python3.6.x ]  x64

### Console output and logs

run py build.py

2019-03-21 22:39:01,639 - INFO: * Applying chromium-exclude_unwind_tables.patch (1/123)
2019-03-21 22:39:01,639 - DEBUG: C:\depot_tools\patch.PY -p1 --ignore-whitespace -i E:\ungoogled-chromium-72.0.3626.122-2\build\src\u

[2019-03-21 18:16] TCB13 commented on #713
Duplicate of https://github.com/Eloston/ungoogled-chromium/issues/675 , please close. `71.0.3578.98-2` is the last one for Windows that builds.

[2019-03-21 19:18] #713 closed

[2019-03-21 19:20] Eloston commented on #712
So what happens instead?

[2019-03-21 19:26] leon0707 commented on #712
Nothing happens after pressing 'enter', which is not right. In the previous versions, it directs to the search page. I notice another problem. The new version has a hard time distinguishing user's input in the address bar.

Eg.

![image](https://user-images.githubusercontent.com/523684/54779403-74c65c80-4bed-11e9-95fe-e25c2e5d9337.png)

"turin" is not a valid url, but browser will still try to vis

[2019-03-21 19:33] Eloston commented on #712
This may be specific to the macOS version. I have a Debian buster build which isn't affected by this issue.

Can anyone else confirm this issue?

[2019-03-22 00:14] tangalbert919 commented on #675
Here's another build error, just after the 90% mark:

[code]

[2019-03-22 06:04] Eloston opened #714 "Fixing chromedriver ERROR:root:Git error: rc=128, output=''"
This is due to these files:

* `chrome/test/chromedriver/BUILD.gn`
    * `action("embed_version_in_cpp") {`
* `chrome/test/chromedriver/embed_version_in_cpp.py`
    * `  version_info = lastchange.FetchGitRevision(None, '^Change-Id:')`

Modifying the Python script to read `chrome/test/chromedriver/VERSION` directly could make the build more deterministic if the build tree happens to live inside a g

[2019-03-22 23:04] #687 closed

[2019-03-22 23:07] Eloston commented on #651
Main repository and Debian have finished migration. However, other platform repositories have quite a bit more work.

[2019-03-22 23:07] #651 closed

[2019-03-23 00:28] Eloston opened #715 "Announcement: Updating all platform support"
Hi everyone,

I've decided to merge changes for #651, which is a massive refactor that splits code for platforms into separate repositories. Unfortunately, this has broken support for all of the supported platforms up until now.

Right now, I am in the process of updating most of the code for all the platforms. Once this is done, I'll be posting new issues to call for assistance in building/testin

[2019-03-23 00:30] Eloston commented on #644
Closing due to inactivity.

[2019-03-23 00:30] #644 closed

[2019-03-23 00:30] Eloston commented on #680
Will be solved in a new tag I'll be publishing soon for Debian stretch.

[2019-03-23 00:30] #680 closed

[2019-03-23 15:14] lluke777 commented on #543
What are the advantages in privacy of `ungoogled-chromium project` over `Brave browser`?